<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contatto ricevuto</h1>
    <p>
      In data <%= Time.now.strftime("%d/%m/%Y %H%M") %> &egrave; stata compilata una richiesta di contatto con le seguenti informazioni:
    </p>
    <p>
      <% @user.each do |key,value| %>
        <strong><%= key%></strong>: <%= value%><br/>
      <% end %>
    </p>
  </body>
</html>
