<div id="ef-footer">
  &#169; copyright <%= Time.now.year %>, Rotas by <a href="http://www.arealabz.it">Arealabz</a> | V.A.T.N. IT00526430269 - C. fisc. e nr iscriz. 00526430269 - R.E.A. 125025 - Capitale Sociale € 51.129
</div>