<div class="ef-slider-overlay"></div>

<div id="languages-button">
	<div>
		<div id="google_translate_element"></div><script type="text/javascript">
	  function googleTranslateElementInit() {
	    new google.translate.TranslateElement({pageLanguage: 'it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, multilanguagePage: true}, 'google_translate_element');
	  }
	  </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</div>
</div>

<div id="ef-header" class="ef-toggled">
  <div class="ef-logo-wrapper ef-toggled">
    <a href="/" class="ef-external-link ef-logo"><img src="/assets/logo.png" alt=""></a>
  </div>
  <div id="ef-mobile-menu-wrapper"></div>
</div>