<!-- 
//= require jquery-1.7.2.min
//= require modernizr-custom
//= require jquery.effects.core.min
//= require css3-mediaqueries
//= require jquery.ui.rlightbox.min
//= require jquery.mobilemenu
//= require jquery.fittext
//= require jquery.scrollTo-min
//= require waypoints.min
//= require gentle.anchors.1.2.2
//= require jquery.nicescroll.min
//= require lavalamp.min
//= require supersized/supersized.3.2.7.min
//= require supersized/theme/supersized.shutter.min
//= require jquery.touchSwipe.min
//= require goMap-1.3.2.min
//= require flexslider/jquery.flexslider.min
//= require contactform
//= require jquery.tweet.min
//= require jflickrfeed.min
//= require jquery.isotope.min
//= require custom.js


<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/javascripts/modernizr-custom.js"></script>
<script type="text/javascript" src="/javascripts/jquery.effects.core.min.js"></script>
<script type="text/javascript" src="/javascripts/css3-mediaqueries.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.rlightbox.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.mobilemenu.js"></script>
<script type="text/javascript" src="/javascripts/jquery.fittext.js"></script>
<script type="text/javascript" src="/javascripts/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/javascripts/waypoints.min.js"></script>
<script type="text/javascript" src="/javascripts/gentle.anchors.1.2.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.nicescroll.min	.js"></script>
<script type="text/javascript" src="/javascripts/lavalamp.min.js"></script>
<script type="text/javascript" src="/javascripts/supersized/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="/javascripts/supersized/theme/supersized.shutter.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/javascripts/flexslider/jquery.flexslider.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tweet.min.js"></script>
<script type="text/javascript" src="/javascripts/jflickrfeed.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.isotope.min.js"></script>

-->

<%= javascript_include_tag "application" %>