<div class="ef-nav-wrapper">
  <a href="/"><span class="ef-menu-tab"></span></a>

  <div class="ef-menu-wrapper">
    <ul class="ef-navmenu">
      <li><a class="ef-external-link" href="/rotas/rotas">rotas</a></li>
      <li><a class="ef-external-link" href="/rotas/about">come</a></li>
      <% @produzione_cat.each do |cat| %>
        <li><a class="ef-external-link" href="/produzione/<%= print_friendly_url(cat['sml']['it'].title) %>-<%= cat['gen'].id %>"><%= cat['sml']['it'].title %></a></li>
      <% end %>
      <li><a class="ef-external-link" href="/clienti">area clienti</a></li>
      <li><a href="/blog" class="ef-external-link">blog</a></li>
      <li><a class="ef-external-link" href="http://www.rotasnfc.com" target="_blank">Shop</a></li>
      <li><a class="ef-external-link" href="/contact">contatti</a></li>
    </ul>
  </div>

</div>