<%= link_to image_tag("ico_ilmateriale.gif"), "#", :id => "materiale-link", :rel => "materiale" %>
<%= link_to image_tag("ico_lasuperficie.gif"), "#", :id => "superficie-link", :rel => "superficie" %>
<%= link_to image_tag("ico_ilsupporto.gif"), "#", :id => "supporto-link", :rel => "supporto" %>

<br/>
<%= link_to image_tag("ico_ladesione.gif"), "#", :id => "adesione-link", :rel => "adesione" %>
<%= link_to image_tag("ico_linchiostro.gif"), "#", :id => "inchiostro-link", :rel => "inchiostro" %>
<%= link_to image_tag("ico_rfid5.gif"), "#", :id => "rfid-link", :rel => "rfid" %>


<div id="materiale">
	<strong><%= @info['materiale'].sml.where("fklang=?", "it").first.title %></strong><br/>
	<%= @info['materiale'].sml.where("fklang=?", "it").first.testo %>
</div>


<div id="superficie">
	<strong><%= @info['superficie'].sml.where("fklang=?", "it").first.title %></strong><br/>
	<%= @info['superficie'].sml.where("fklang=?", "it").first.testo %>
</div>


<div id="inchiostro">
	<strong><%= @info['inchiostro'].sml.where("fklang=?", "it").first.title %></strong><br/>
	<%= @info['inchiostro'].sml.where("fklang=?", "it").first.testo %>
</div>

<div id="adesione">
	<strong><%= @info['adesione'].sml.where("fklang=?", "it").first.title %></strong><br/>
	<%= @info['adesione'].sml.where("fklang=?", "it").first.testo %>
</div>

<div id="supporto">
	<strong><%= @info['supporto'].sml.where("fklang=?", "it").first.title %></strong><br/>
	<%= @info['supporto'].sml.where("fklang=?", "it").first.testo %>
</div>

<div id="rfid">
	<strong><%= @info['rfid'].sml.where("fklang=?", "it").first.title %></strong><br/>
	<%= @info['rfid'].sml.where("fklang=?", "it").first.testo %>
</div>

<% content_for :page_js do %>
<script>
	var div_arr = []
	div_arr.push({ link: "materiale-link", div_name: "materiale" });
	div_arr.push({ link: "superficie-link", div_name: "superficie" });
	div_arr.push({ link: "inchiostro-link", div_name: "inchiostro" });
	div_arr.push({ link: "adesione-link", div_name: "adesione" });
	div_arr.push({ link: "supporto-link", div_name: "supporto" });
	div_arr.push({ link: "rfid-link", div_name: "rfid" });

	$(document).ready(function(){
		for (i = 0; i < div_arr.length; ++i) {
			var ele = div_arr[i];

			$("#"+ ele['div_name']).hide();
			$("#"+ ele['link']).click(function() {
				hideAll();
				$("#"+ $(this).attr("rel") ).show();
			});

		}
	});

	function hideAll() {
		for (i = 0; i < div_arr.length; ++i) {
			var ele = div_arr[i];
			$("#"+ ele['div_name']).hide();
		}
	}

</script>
<% end %>