#ui-lightbox, #ui-lightbox-panorama-icon, #ui-lightbox-content-container,
#ui-lightbox-content, #ui-lightbox-content > *, #ui-lightbox-arrow,
#ui-lightbox-arrow > span, #ui-lightbox-bottombar, #ui-lightbox-title-wrapper,
#ui-lightbox-title, #ui-lightbox-bottombar-bottom, #ui-lightbox-button-prev,
#ui-lightbox-button-prev > span, #ui-lightbox-counter, #ui-lightbox-button-next,
#ui-lightbox-button-next > span, #ui-lightbox-button-close,
#ui-lightbox-button-close > span, #ui-lightbox-map, #ui-lightbox-map-viewport,
#ui-lightbox-overlay {
	margin: 0;
	padding: 0;
}

#ui-lightbox {
	padding: 10px;
	position: fixed;
	z-index: 30000;
	width: auto;
	height: auto;
}

#ui-lightbox-content-container {
    position: relative;
}

#ui-lightbox-content {
	border: 0;
	position: relative;
	min-width: 70px;
	min-height: 70px;
}

#ui-lightbox-content > * {
	display: block;
	position: absolute;
	z-index: 100;
}

#ui-lightbox-arrow {
	cursor: pointer;
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 101;   
}

.ui-lightbox-arrow-next {
	border-right: 0;
	right: 0;
}

.ui-lightbox-arrow-prev {
	border-left: 0;
	left: 0;
}

#ui-lightbox-panorama-icon {
	cursor: pointer;
	height: 32px;
	left: 10px;
	width: 32px;
	position: absolute;
	top: 10px;
	z-index: 110;
}

.ui-lightbox-panorama-icon-expand {
	background: url(/assets/ui-lightness/lightbox-expand.png) top left no-repeat;
}

.ui-lightbox-panorama-icon-expand-hover {
	background: url(/assets/ui-lightness/lightbox-expand.png) bottom left no-repeat;
}

.ui-lightbox-panorama-icon-shrink {
	background: url(/assets/ui-lightness/lightbox-expand.png) top right no-repeat;
}

.ui-lightbox-panorama-icon-shrink-hover {
	background: url(/assets/ui-lightness/lightbox-expand.png) bottom right no-repeat;
}

.ui-lightbox-loader {
	background: url(/assets/ui-lightness/loader.gif) center center no-repeat;
}

#ui-lightbox-bottombar {
	margin-top: 5px;
	padding: 15px 0;
	height: 40px;
}

#ui-lightbox-bottombar > p {
	height: 20px;
	line-height: 20px;
}

#ui-lightbox-bottombar-bottom {
	text-align: left;
	float: right;
}

#ui-lightbox-title-wrapper {
	font-size: 1em;
	height: 20px;
	overflow: hidden;
	text-align: left;
	float: left;
}

#ui-lightbox-counter {
	line-height: 20px;
	vertical-align: middle;
}

#ui-lightbox-separator {
    line-height: 20px;
    padding: 0 2px;
    vertical-align: middle;
}

#ui-lightbox-button-prev, #ui-lightbox-button-next, #ui-lightbox-button-play {
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
}

#ui-lightbox-button-close {
	line-height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 40000;
	background: url('/assets/ui-lightness/lightbox-close.png') no-repeat left top;
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-indent: -1000px;
}

.ui-lightbox-button {
	cursor: pointer;
}

.ui-lightbox-button.ui-state-highlight {
	border-style: none;
	background: none;
}

#ui-lightbox-map {
	display: none!important;
	background-color: black;
	border: 1px solid white;
	filter:Alpha(Opacity=20);
	height: 100px;
	opacity: .30;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 150px;
	z-index: 31000;
}

#ui-lightbox-map-viewport {
	border: 1px solid white;
	left: -1px; /*prevent from overlapping the map border*/
	position: absolute;
	top: -1px; /*prevent from overlapping the map border*/
}

#ui-lightbox-overlay {
	border: 0;
	position: fixed;
	z-index: 20000;
	top: 0;
	bottom:0; left:0; right:0;
}

#ui-lightbox-error {
	background: url(/assets/ui-lightness/error_bg.png) repeat left top;
}

#ui-lightbox-error-message {
	color: #ffffff;
	line-height: 1.5;
	margin-bottom: 21px;
	padding-top: 274px;
	text-align: center;
}

#ui-lightbox-error-footer {
	text-align: center;
}

#ui-lightbox-error-footer > button {
	margin-right: 15px;
}

.ui-lightbox-error-icon-sign {
	background: url(/assets/ui-lightness/error_sign.png) no-repeat center 226px;	    
}

.ui-icon-circle-arrow-w, .ui-icon-circle-arrow-e {
	display: none!important;
}

.ui-lightbox-arrow-next, .ui-lightbox-arrow-prev {
	background-image: url('/assets/ui-lightness/lightbox-arrows.png');
	background-repeat: no-repeat;
	background-position: right top;
	height: 32px;
	width: 32px;
	overflow: hidden;
	text-indent: -100%;
}

.ui-lightbox-arrow-next {
	background-position: left top;
}