<div class="ef-content" id="portfolio-post">
  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">

      <h1><%= @pagina.sml.where("fklang=?", "it").first.title %></h1>
      <a class="ef-external-link ef-back-arrow" href="/"></a>

    </div>
    <span class="gradi"></span>
  </div>

  <div class="ef-column ef-fold">
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">

        <div class="ef-post-wrapper">
          <h4><%= @pagina.sml.where("fklang=?", "it").first.title %></h4>
          <% unless @pagina.foto.url.nil? %>
            <img src="<%= @pagina.foto.url(:normal) %>" />
          <% end %>

          <br/><br/>
          <p><%= @pagina.sml.where("fklang=?", "it").first.testo.html_safe %></p>
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ddba19c3696d198"></script>
          <!-- AddThis Button END -->
          <hr class="clear">


        </div>

<!-- Sidebar -->

        <div class="ef-sidebar-wrapper clearfix">

          <div class="ef-sidebar">

            <div class="shortcode-wrapper">

              <div class="one_half">
              </div>

              <div class="one_half">

                <div class="widget_portfolio_categories bottom-2_4em">
                  <h5>Rotas</h5>

                  <ul>
                    <li><a href="/storia">Storia</a></li>
                    <li><a href="/innovazione">Innovazione</a></li>
                    <li><a href="/company-profile">Company Profile</a></li>
                    <li><a href="/rotas-institute">Rotas Institue</a></li>
                    <li class="active-list"><a href="/bandi">Bandi</a></li>
                  </ul>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>