<!-- Portfolio post -->
<div class="ef-content" id="portfolio-post">
	<div class="ef-inner-header ef-toggled">

		<div class="ef-page-details">

			<h1><span id="page-title"><%= @elemento.sml.where("fklang=?", "it").first.title %></span>&nbsp;</h1>
			<a class="ef-external-link ef-back-arrow" href="/"></a>

		</div>
		<span class="gradi"></span>
	</div>

	<div class="ef-column ef-fold">
		<div class="ef-col-inner">
			<div class="ef-page-content clearfix">

				<div class="ef-post-wrapper">

					<div class="ef-post-slider-thumbs">
						<ul class="slides">
							<% @elemento.media.each do |media| %>
							<li>
								<div class="proj-img">
									<img src="<%= media.upload.filename.url %>" alt="<%= media.descrizione %>">
								</div>
							</li>
							<% end %>

						</ul>
					</div>

					<div class="carousel-thumbs">
						<ul class="slides">
							<% @elemento.media.each do |media| %>
								<li><img src="<%= media.upload.filename.thumb.url %>" alt="<%= media.descrizione %>"></li>
							<% end %>
						</ul>
					</div>
					<br/><br/>
					<h4><%= @elemento.sml.where("fklang=?", "it").first.title %></h4>
					<p><%= raw(@elemento.sml.where("fklang=?", "it").first.description) %></p>
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_pinterest_pinit"></a>
					<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ddba19c3696d198"></script>
					<!-- AddThis Button END -->
					<hr class="clear">


				</div>

<!-- Sidebar -->

				<div class="ef-sidebar-wrapper clearfix">

					<div class="ef-sidebar">

						<div class="shortcode-wrapper">

							<div class="one_half">
							</div>

							<div class="one_half">

								<div class="widget_portfolio_categories bottom-2_4em">
									<h5>Blog</h5>

									<ul>
										<% @elementi.each do |elemento| %>
											<% my_class = "" %>
                      <% if @elemento.id == elemento['gen'].id %>
                        <% my_class = "class='active-list'" %>
                      <% end %>
											<li <%= my_class %>>
                        <a  href="/blog?id=<%= elemento['gen'].id %>">
                          <%= elemento['sml']['it'].title %>
                        </a>
                      </li>
										<% end %>
									</ul>

								</div>

							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

