<!-- Portfolio post -->
<div class="ef-content" id="portfolio-post">
  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">

      <h1><span id="page-title"><%= @elemento.sml.where("fklang=?", "it").first.title %></span>&nbsp;</h1>

    </div>
    <span class="gradi"></span>
  </div>

  <div class="ef-column ef-fold">
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">

        <div class="ef-post-wrapper">

          <div class="ef-post-slider-thumbs">
            <ul class="slides">
              <% @elemento.media.each do |media| %>
              <li>
                <div class="proj-img">
                  <img src="<%= media.upload.filename.url %>" alt="<%= media.descrizione %>">
                </div>
              </li>
              <% end %>

            </ul>
          </div>

          <div class="carousel-thumbs">
            <ul class="slides">
              <% @elemento.media.each do |media| %>
                <li><img src="<%= media.upload.filename.thumb.url %>" alt="<%= media.descrizione %>"></li>
              <% end %>
            </ul>
          </div>
          <br/>
          <span style="font-size:10px">
            <a href="/produzione?idc=<%= @categoria.id %>"><%= @sml['it'].title %></a> / <strong><%= @elemento.sml.where("fklang=?", "it").first.title %></strong>
          </span>
          <br/><br/>
          <h4><%= @elemento.sml.where("fklang=?", "it").first.title %></h4>
          <p><%= raw(@elemento.sml.where("fklang=?", "it").first.description) %></p>
          <hr class="clear">

          <p>
            <%= render('partials/smart_tecnology') %>
          </p>

        </div>

<!-- Sidebar -->

        <div class="ef-sidebar-wrapper clearfix">

          <div class="ef-sidebar">

            <div class="shortcode-wrapper">

              <div class="one_half">

                <div class="widget_p-post-nav clearfix bottom-2_4em">
                  <a class="ef-button ef-big-btn ef-external-link ef-prev" href="/produzione/<%= print_friendly_url(@categoria.sml.where("fklang=?", 'it').first.title) %>-<%= @categoria.id %>">Back to <%= @sml['it'].title %></a>
                </div>

              </div>

              <div class="one_half">

                <div class="widget_portfolio_categories bottom-2_4em">
                  <h5 style="margin-bottom:2px;">Rotas</h5>

                  <ul>
                    <% all_elements = 0 %>
                    <% @produzione_cat.each do |cat| %>
                      <% all_elements += cat['child'].count %>
                      <% my_class = "" %>
                      <li>
                        <a  href="/produzione/<%= print_friendly_url(@categoria.sml.where("fklang=?", 'it').first.title) %>-<%= @categoria.id %>">
                          <%= cat['sml']['it'].title %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                  <br/><br/>
                  <h5 style="margin-bottom:2px;font-weigth:bold;font-size:16px;">Settori</h5>
                  <ul>
                    <% @settori.each do |settore| %>
                      <li>
                        <a href="/produzione/<%= print_friendly_url(@categoria.sml.where("fklang=?", 'it').first.title) %>-<%= @categoria.id %>?sett=<%= settore['gen'].id %>">
                          <%= settore['sml']['it'].title %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                  <br/><br/>
                  <h5 style="margin-bottom:2px;font-weigth:bold;font-size:16px;">Applicazioni</h5>
                  <ul>
                    <% @applicazioni.each do |app| %>
                      <li>
                        <a href="/produzione/<%= print_friendly_url(@categoria.sml.where("fklang=?", 'it').first.title) %>-<%= @categoria.id %>?app=<%= app['gen'].id %>">
                          <%= app['sml']['it'].title %>
                        </a>
                      </li>
                    <% end %>
                  </ul>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

