<div class="ef-content">
  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">
      <h2><span id="page-title"><%= @sml['it']['title'] %></span></h2>
      <a class="ef-external-link ef-back-arrow" href="/"></a>

    </div>
    <span class="gradi"></span>
  </div>

  <div class="ef-column ef-fold">
    <div class="ef-col-inner">

      <div id="ef-page-content clearfix">
        <div class="ef-post-wrapper">

          <!-- CICLO ESTERNO SUGLI ELEMENTI DELLE CATEGORIE -->
          <% @child.each do |child| %>
            <div class="ef-item-p <%= @sml['title'] %>">
              <div class="ef-item-inner">
                <div class="proj-img">
                  <a class="ef-external-link ef-read-more" href="<%= print_portfolio_link(@categoria.id, child.id) %>"><img src="<%= get_element_image(child) %>" alt="<%= get_element_description(child) %>"></a>
                </div>
              </div>
              <div style="text-align:center;height:40px" class="ef-item-inner sett-app-nome">
                <a class="ef-external-link ef-read-more" href="<%= print_portfolio_link(@categoria.id, child.id) %>"><%= child.sml.where("fklang=?", "it").first.title %></a>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div id="produzione-sidebar" class="ef-sidebar-wrapper clearfix">

        <div class="ef-sidebar">

          <div class="shortcode-wrapper">

            <div class="one_half">
            </div>
            <div class="one_half">
              <div class="widget_portfolio_categories bottom-2_4em">

                <h5 style="margin-bottom:2px;">Settori</h5>
                <ul>
                  <% @settori.each do |settore| %>
                    <li>
                      <a href="/produzione/<%= print_friendly_url(settore['sml']['it'].title) %>/<%= print_friendly_url(@categoria.sml.where("fklang=?", 'it').first.title) %>-<%= @categoria.id %>?sett=<%= settore['gen'].id  %>">
                        <%= settore['sml']['it'].title %>
                      </a>
                    </li>
                  <% end %>
                </ul>

                <br/><br/>
                <h5 style="margin-bottom:2px;">Applicazioni</h5>
                <ul>
                  <% @applicazioni.each do |app| %>
                    <li>
                      <a href="/produzione/<%= print_friendly_url(app['sml']['it'].title) %>/<%= print_friendly_url(@categoria.sml.where("fklang=?", 'it').first.title) %>-<%= @categoria.id %>?app=<%= app['gen'].id %>">
                        <%= app['sml']['it'].title %>
                      </a>
                    </li>
                  <% end %>
                </ul>


              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>