<div class="ef-content" id="about">
  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">
      <h1><span id="page-title"><%= @pagina.sml.where("fklang=?", "it").first.title %></span>&nbsp;</h1>
      <div class="ef-description">
        <p></p>
      </div>

    </div>
    <span class="gradi"></span>
  </div>

  <div class="ef-column ef-fold">
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">
        <!-- CONTENUTO CENTRALE -->
        <div class="ef-post-wrapper">

          <h4><%= @pagina.sml.where("fklang=?", "it").first.title %></h4>

          <% unless @pagina.foto.url.nil? %>
            <img src="<%= @pagina.foto.url(:normal) %>" />
          <% end %>

          <br/><br/>
          <p><%= @pagina.sml.where("fklang=?", "it").first.testo.html_safe %></p>

          <hr class="clear">
        </div>
        <!-- CONTENUTO CENTRALE FINE -->


        <!-- SIDEBAR -->
        <div class="ef-sidebar-wrapper clearfix">
          <div class="ef-sidebar">
            <div class="shortcode-wrapper">
              <div class="one_half">
              </div>
              <div class="one_half">
                <div class="widget_portfolio_categories bottom-2_4em">
                  <h5>Rotas</h5>
                  <ul>
                    <li><a href="/rotas/storia">Storia</a></li>
                    <li><a href="/rotas/innovazione">Innovazione</a></li>
                    <li><a href="/rotas/company-profile">Company Profile</a></li>
                    <li><a href="/rotas/rotas-institute">Rotas Institue</a></li>
                    <li><a href="/rotas/bandi">Bandi</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SIDEBAR FINE -->

      </div>
    </div>

  </div>

</div>