<div class="ef-content" id="about">
  <div class="ef-inner-header ef-toggled">
    
    <div class="ef-page-details">       
      <h1>Azienda</h1>
      <div class="ef-description">
        <p>Smart Technology</p>
      </div>
      
      <a class="ef-next-page" href="#clienti"></a>
      <a class="ef-prev-page" href="#rotas"></a>
      
    </div>
    <span class="gradi"></span>
  </div>
  
  <div class="ef-column ef-fold">       
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">
        <div class="shortcode-wrapper">
        
          <div class="one_fourth">
            <h4>40 anni di esperienza</h4>
            
            <div class="proj-img">
              <div class="ef-post-slider">
                <ul class="slides">
                  <li><div class="proj-img"><img src="/assets/azienda/azienda_001.jpg" alt=""></div></li>
                  <li><div class="proj-img"><img src="/assets/azienda/azienda_002.jpg" alt=""></div></li>
                  <li><div class="proj-img"><img src="/assets/azienda/azienda_003.jpg" alt=""></div></li>
                  <li><div class="proj-img"><img src="/assets/azienda/azienda_004.jpg" alt=""></div></li>
                  <li><div class="proj-img"><img src="/assets/azienda/azienda_01.jpg" alt=""></div></li>
                  <li><div class="proj-img"><img src="/assets/azienda/azienda_010.jpg" alt=""></div></li>
                </ul>                 
              </div>
            </div>
            
            <hr class="clear">
           
            <p style="color:#000;"><span style="background-color:;font-weight:bold;">40 anni di esperienza</span> ci hanno portato a un modo originale di affrontare le opportunità di vestizione dei vostri prodotti. La nostra unicità, è di creare plus valore attraverso elementi di comunicazione, agendo sulle singole basi della tecnologia. 
            </p>

          </div>
          
          <div class="one_fourth">
            <h4>Rotas</h4>
            
            <p class="ef-small-title">Ricerca & Sviluppo</p>
            
            <div class="proj-img">
              <img src="/assets/ricercasviluppo.jpg" alt="">
            </div>
            
            <hr class="clear">
            
            <p style="color:#000;"><span style="background-color:;font-weight:bold;">ROTAS</span>, crea un vestito ai vostri prodotti, dando un valore non solo estetico. Affianca i vostri creativi nell'individuare le soluzioni tecniche che creano plus valore per catturare l'attenzione, differenziare i prodotti e dare un'immagine di prima qualità e perciò di maggior valore. 
            </p>
            <p style="color:#000;">
              In <span style="background-color:;font-weight:bold;">Rotas</span> la capacità produttiva è un fatto strategico. I nostri macchinari sono "nostri" nel senso che sono unici. Studiati e sviluppati dai tecnici Rotas per dare soluzioni ad hoc.
            </p>
            <p style="color:#000;"><span style="background-color:;font-weight:bold;">A misura delle vostre esigenze.</span></p>


          </div>
          
          <div class="shortcode-clear"></div>
          
          <div class="one_fourth">
            <h4>Smart Technology</h4>
            
            <p style="color:#000;">
              In Rotas la capacità produttiva è un fatto strategico. I nostri macchinari sono “nostri” nel senso che sono unici. Studiati e sviluppati dai tecnici Rotas per dare soluzioni ad hoc. A misura delle vostre esigenze. <br/><br/>
              La capacità di disporre di un approccio globale, vi consente soluzioni semplici, o ricche di unicità e specificità. La produzione Rotas, lavora in stretto rapporto con l'ideazione. Per questo è in grado di creare soluzioni che affrontano tutti gli elementi della tecnologia: il <span style="background-color:;font-weight:bold;">materiale</span>, la <span style="background-color:;font-weight:bold;">superficie</span>, l'<span style="background-color:;font-weight:bold;">inchiostro</span>, l'<span style="background-color:;font-weight:bold;">adesivo</span>, il <span style="background-color:;font-weight:bold;">supporto</span>, <span  style="background-color:;font-weight:bold;">rfid</span>.
            </p>

            <h4>L'etichetta parla per Voi</h4>
            
            <p style="color:#000;">
              Rotas, crea un vestito ai vostri prodotti, dando un valore non solo estetico. Affianca i vostri creativi nell'individuare le soluzioni tecniche che creano plus valore per catturare l'attenzione, differenziare i prodotti e dare <span style="background-color:;font-weight:bold;">un'immagine di prima qualità</span> e perciò di maggior valore.
            </p>
            
          </div>
          
          <div class="one_fourth">
          </div>
          
        </div>
      </div>
    </div>
  </div>        
    
</div>