<div class="ef-content" id="clienti">
  <div class="ef-inner-header ef-toggled">
    
    <div class="ef-page-details">       
      <h1>Area Clienti</h1>
      <div class="ef-description">
      </div>
      
      <a class="ef-next-page" href="#job"></a>
      <a class="ef-prev-page" href="#about"></a>
      
    </div>
    <span class="gradi"></span>
  </div>
  
  <div class="ef-column ef-fold">       
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">
        <div class="shortcode-wrapper">
        
          <div class="one_fourth">
            <h4>Accesso area clienti</h4>
            
            <hr class="clear">
            
            <p><strong>Per accedere all'area clienti devi essere registrato. Inserire username e password negli appositi spazi.</strong></p>
            
            <p>Per informazioni o problemi per l'accesso all'area riservata clicca <a href="#">qui</a>.</p>
            
          </div>
          
          <div class="one_fourth">
            <h4>Dati di accesso</h4>
            <form id="ef-contact" class="ef-form" method="post" action="get_mail.php">
              <div>
                <label>Username <span>*</span></label>
                <div><input id="name_clienti" type="text" name="username"></div>
              </div>
          
              <div>
                <label>Password <span>*</span></label>
                <div><input id="email_clienti" type="text" name="password"></div>
              </div>
          
              <div class="send-wrap">
                <div class="alignleft"><input class="send" name="send" type="submit" value="Send"></div>
                <span class="alignright"><span>*</span> required</span>
              </div>
  
            </form>
          </div>
          
          <div class="shortcode-clear"></div>
          
          <div class="one_fourth">
          </div>
          
          <div class="one_fourth">
          </div>
          
        </div>
      </div>
    </div>
  </div>        
    
</div>