<div id="contact" class="ef-content">

  <div class="ef-inner-header ef-toggled">
    
    <div class="ef-page-details">       
      <h1>Contact</h1>
      <div class="ef-description">
        <p>Here you can add your <span>contact info</span> and set unlimited number of locations</p>
      </div>
      
      <a class="ef-prev-page" href="#job"></a>
      
    </div>
    <span class="gradi"></span>
  </div>
  
  <div class="ef-map"></div>
  
  <div class="ef-column ef-fold">     
            
    <div class="ef-col-inner">
      
      <div class="ef-sidebar-wrapper clearfix">
      
        <div class="ef-sidebar">
          <div class="shortcode-wrapper">
            
            <div class="one_half bottom-2_4em">
            
              <h5>Contattaci</h5>
              
              <ul class="clearlist bottom-1_5em">
                <li><strong>Address:</strong> Via San Francesco di Sales, 11 - 31100 Treviso - ITALY </li>
                <li><strong>Phone:</strong>+39 0422 433100</li>
                <li><strong>Email:</strong> info@rotas.com</li>
                <li><strong>Website:</strong> www.rotas.com</li>
              </ul>

            </div>
            
            <div class="one_half bottom-2_4em">
              <h5>Contact Us</h5>
              <% if @err == "1" %>
                <strong>Richiesta di contatto inviata correttamente!</strong>
              <% end %>
              <form id="ef-contact" class="ef-form" method="post" action="/contatti">
                <div>
                  <label>Name <span>*</span></label>
                  <div><input id="name" type="text" name="p_name"></div>
                </div>
          
                <div>
                  <label>E-mail <span>*</span></label>
                  <div><input id="email" type="text" name="p_email"></div>
                </div>
          
                <div>
                  <label>Subject</label>
                  <div><input id="subject" type="text" name="p_subject"></div>
                </div>

                <div class="ef-textarea">
                  <label>Message <span>*</span></label>
                  <div><textarea id="message" name="p_message"></textarea></div>
                </div>
                          
                <div class="send-wrap">
                  <div class="alignleft"><input class="send" name="send" id="send_contatti" type="button" value="Send"></div>
                  <span class="alignright"><span>*</span> required</span>
                </div>
  
              </form>
              <div class="ef-list">Messggio inviato con successo</div>
                    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>        
    
</div>