<div class="ef-slider ef-content current-section" id="home">

  <div id="ef-slider">

    <div id="slidecaption"></div>

    <div id="slider-controls-wrapper">
      <div class="ef-controls-inner">

        <div id="thumb-tray" class="load-item">
          <div class="thumb-nav">
            <div id="thumb-back"></div>
            <div id="thumb-forward"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="dots-play">

      <ul id="slide-list"></ul>

    </div>

  </div>

  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">
      <h1>COSTRUIAMO SOLUZIONI</h1>
      <div class="ef-description">
        <p>Qui in <span>Rotas</span> il Pensiero<br/>diventa<br/>azione</p>
      </div>
      
    </div>

    <!--Control Bar-->
    <div id="controls-wrapper" class="load-item">
      <div id="controls">

        <!--Arrow Navigation-->
        <a id="prevslide" class="load-item"><span class="ef-tooltip">Previous Slide</span></a>

        <a id="play-button"><img id="pauseplay" src="/assets/pause.png" alt=""/><span class="ef-tooltip">Play/Pause</span></a>

        <a id="nextslide" class="load-item"><span class="ef-tooltip">Next Slide</span></a>

      </div>
    </div>

    <div id="progress-back" class="load-item">
    <!--Time Bar-->
      <div id="progress-bar"></div>
    </div>
    <span class="gradi"></span>

  </div>
  <div class="ef-fold"></div>
</div>