<div class="ef-content" id="job">
	<div class="ef-inner-header ef-toggled">
		
		<div class="ef-page-details">       
			<h1>Job</h1>
			<div class="ef-description">
			</div>
			
			<a class="ef-next-page" href="#contact"></a>
			<a class="ef-prev-page" href="#clienti"></a>
			
		</div>
		<span class="gradi"></span>
	</div>
	
	<div class="ef-column ef-fold">       
		<div class="ef-col-inner">
			<div class="ef-page-content clearfix">
				<div class="shortcode-wrapper">
				
					<div class="one_fourth">
						<h4>Area Job</h4>
						
						<hr class="clear">
						
						<p><strong>Compila il form qui in basso per avere informazioni sulle posizioni aperte o.</strong></p>
						
						<p>Inviando il form seguente dichiaro di aver accettato le norme sulla privacy come specificato nell'apposita sezione presente su questo sito.</p>
						
					</div>
					
					<div class="one_fourth">
						<h4>Dati di accesso</h4>
						<form id="ef-contact-job" class="ef-form" method="post" action="/job">
							<div>
								<label>Nome <span>*</span></label>
								<div><input id="nome" type="text" name="p_nome"></div>
							</div>
					
							<div>
								<label>Cognome <span>*</span></label>
								<div><input id="cognome" type="text" name="p_cognome"></div>
							</div>

							<div>
								<label>Ragione Sociale</label>
								<div><input id="rag_sociale" type="text" name="p_ragione_sociale"></div>
							</div>
					
							<div>
								<label>Via <span>*</span></label>
								<div><input id="via" type="text" name="p_via"></div>
							</div>

							<div>
								<label>Citt&agrave; <span>*</span></label>
								<div><input id="citta" type="text" name="p_citta"></div>
							</div>
					
							<div>
								<label>Nazione</label>
								<div><input id="nazione" type="text" name="p_nazione"></div>
							</div>

							<div>
								<label>Telefono</label>
								<div><input id="telefono" type="text" name="p_telefono"></div>
							</div>
					
							<div>
								<label>Email <span>*</span></label>
								<div><input id="email_job" type="text" name="p_email"></div>
							</div>
					
							<div class="ef-textarea">
                <label>Richiesta <span>*</span></label>
                <div><textarea id="richiesta" name="p_message"></textarea></div>
              </div>

							<div class="send-wrap">
								<div class="alignleft"><input class="send" name="send" type="button" id="send_job" value="Send"></div>
								<span class="alignright"><span>*</span> required</span>
							</div>
						</form>

						<div class="ef-list">Messggio inviato con successo</div>
					</div>
				
					
					<div class="shortcode-clear"></div>
					
					<div class="one_fourth">
					</div>
					
					<div class="one_fourth">
					</div>
					
				</div>
			</div>
		</div>
	</div>        
		
</div>