<div id="ef-topbar">
  <div class="ef-topbar-frame ef-fold">
    <div class="ef-topbar-inner">
      <div class="shortcode-wrapper">
        <div class="one_fourth">
          <div class="widget_text bottom-2_4em">
            <h5><%= @more_info.sml.where("fklang=?", "it").first.title %></h5>

            <%= @more_info.sml.where("fklang=?", "it").first.testo %>
          </div>
        </div>

        <!--
        <div class="one_fourth">
          <div class="widget_recent_comments bottom-2_4em">
            <h5>Rotas</h5>

            <ul>
              <li>
                fireform on
                <a href="#">Doloribus asperiores</a>
              </li>
              <li>
                admin on
                <a href="#">Sed ut perspiciatis unde omnis iste</a>
              </li>
              <li>
                fireform on
                <a href="#">Blog post without thumbnail</a>
              </li>
              <li>
                fireform on
                <a href="#">Eaque ipsa quae ab illo inventore veritatis</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="shortcode-clear"></div> -->

        <div class="one_fourth">
          <div class="widget_recent_comments bottom-2_4em">
            <h5>Blog</h5>

            <ul>
              <% @blog.each do |b| %>
                <li>
                  <a title="<%= b['sml']['it'].title %>" href="/blog?id=<%= b['gen'].id %>"><%= b['sml']['it'].title %></a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="one_fourth">
          <div class="widget_text bottom-2_4em">
            <h5><%= @social.sml.where("fklang=?", "it").first.title %></h5>
            <%= @social.sml.where("fklang=?", "it").first.testo %>

            <ul class="social-icns">
              <li><a class="ef-twt" href="#"></a></li>
              <li><a class="ef-fb" href="#"></a></li>
              <li><a class="ef-da" href="#"></a></li>
              <li><a class="ef-drb" href="#"></a></li>
              <li><a class="ef-pin" href="#"></a></li>
              <li><a class="ef-fl" href="#"></a></li>
              <li><a class="ef-in" href="#"></a></li>
            </ul>
          </div>
        </div>

      </div>

      <hr class="bottom-2_4em">

      <div class="shortcode-wrapper">
        <div class="one_fourth">

          <div class="widget_flickr bottom-2_4em">
            <h5>From Flickr</h5>
            <ul class="jflickr"></ul>
          </div>

        </div>

        <div class="one_fourth">

          <div class="widget_twitter bottom-2_4em">
            <h5>Twitter updates</h5>
            <div class="ef-tweet"></div>
          </div>

        </div>

        <div class="shortcode-clear"></div>

        <div class="one_fourth">

          <div class="widget_portfolio_categories bottom-2_4em">
            <h5>Portfolio Categories</h5>

            <ul>
              <% all_elements = 0 %>
              <% @produzione_cat.each do |cat| %>
                <% all_elements += cat['child'].count %>
                <li>
                  <a href="/produzione?idc=<%= cat['gen'].id %>">
                    <%= cat['sml']['it'].title %>
                  </a>
                </li>
              <% end %>
            </ul>

          </div>

        </div>

      </div>
    </div>

  </div>

  <%= render('partials/footer') %>

</div>