<div class="ef-content" id="produzione-<%= categoria['gen'].id %>">
  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">
      <h1><%= categoria['sml']['it'].title %></h1>
      <h3 style="font-size:16px;">Settori</h3>
      <div class="ef-description">
        <ul id="ef-filter" class="option-set" data-option-key="filter">

          <% @settori.each do |settore| %>
            <li>
              <a data-filter=".settore" href="#">
                <%= settore['sml']['it'].title %>
              </a>
            </li>
          <% end %>

        </ul>
      </div>

      <h3 style="font-size:16px;">Applicazioni</h3>
      <div class="ef-description">
        <ul id="ef-filter" class="option-set" data-option-key="filter">

          <% @applicazioni.each do |app| %>
            <li>
              <a data-filter=".app" href="#">
                <%= app['sml']['it'].title %>
              </a>
            </li>
          <% end %>

        </ul>
      </div>

      <a class="ef-next-page" href="#clienti"></a>
      <a class="ef-prev-page" href="#soluzioni"></a>

    </div>
    <span class="gradi"></span>
  </div>

  <div class="ef-column ef-fold">
    <div class="ef-col-inner">

      <div id="ef-portfolio">
        <div class="shortcode-wrapper">

          <!-- CICLO ESTERNO SUGLI ELEMENTI DELLE CATEGORIE -->
          <% categoria['child'].each do |child| %>
            <div class="ef-item-p <%= categoria['sml']['it'].title %>">
              <div class="ef-item-inner" style="height:850px">
                <div class="proj-img">
                  <img src="<%= get_element_image(child) %>" alt="<%= get_element_description(child) %>">
                  <div class="ef-overlay">
                    <a class="lb lb_group" href="<%= get_element_image(child) %>" title="<%= child.sml.where("fklang=?", "it").first.title %>"></a>
                    <a class="ef-external-link ef-read-more" href="/portfolio?idp=<%= child.id %>"></a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>


        </div>
      </div>
    </div>

    <a class="ef-archive" href="#">More Photos</a>

  </div>

</div>