<div class="ef-content" id="rotas">
  <div class="ef-inner-header ef-toggled">

    <div class="ef-page-details">
      <h1>-1-<br/>Innovazione</h1>
      <div class="ef-description">
      </div>

      <a class="ef-next-page" href="#about"></a>
      <a class="ef-prev-page" href="#home"></a>

    </div>
    <span class="gradi"></span>
  </div>

  <div class="ef-column ef-fold">
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">
        <div class="shortcode-wrapper">

          <div class="one_fourth">
            <h4>-1- ... da 40 anni i primi</h4>

            <div class="proj-img">
              <div class="ef-post-slider">
                <ul class="slides">
                  <li><div class="proj-img"><img src="/assets/innovazione/innovazione.jpg" alt=""></div></li>
                </ul>
              </div>
            </div>

            <hr class="clear">

            <p style="color:#000"><span style="background-color:;font-weight:bold;">Abbiamo sempre contribuito</span> a creare le macchine nuove per la produzione e la stampa di etichette autoadesive perché abbiamo ideato prodotti che non esistevano, anticipando le richieste del mercato e gli sviluppi dei consumi.

            </p>

            <h4>1966</h4>
            <p class="ef-small-title" style="color:#000">
              costruiamo la nostra <span style="background-color:;font-weight:bold;">prima macchina per stampare in bobina</span>
            </p>

            <h4>1967</h4>
            <p class="ef-small-title" style="color:#000">
              Nasce Rotas <span style="background-color:;font-weight:bold;">prima azienda</span> in italia <span style="background-color:;font-weight:bold;">a produrre esclusivamente etichette adesive in bobina</span>
            </p>

            <h4>1980</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">primo brevetto</span> (immagini e disegni 3D)
            </p>

            <h4>1982</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">Rotas certificata da UL</span> in Italia e Spagna (sicurezza prodotti USA)
            </p>

            <h4>1989</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">prima etichetta adesiva per enologia.</span>
            </p>

          </div>

          <div class="one_fourth">

            <h4>1992</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">primo "label-Book"</span> (etichetta multipagina)
            </p>

            <h4>1993</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">Rototac, la prima macchina elettrica semiautomatica</span> per applicare etichette e marcare lotto
            </p>

            <h4>1999</h4>
            <p class="ef-small-title" style="color:#000">
            <span style="background-color:;font-weight:bold;">prima etichetta scratch-off</span> (tessere telefoniche)
            </p>

          </div>

          <div class="shortcode-clear"></div>

          <div class="one_fourth">
            <h4>2001</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">prima etichetta RFID</span> (industria farmaceutica)
            </p>

            <h4>2005</h4>
            <p class="ef-small-title" style="color:#000">
              nasce la nuova sede produttiva in Spagna, <span style="background-color:;font-weight:bold;">Rotas Ibérica</span>
            </p>

            <h4>2006</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">prima antenna RFID totalmente disegnata e prodotta da Rotas</span>
            </p>

            <h4>2006</h4>
            <p class="ef-small-title" style="color:#000">
              Creaiamo un'<span style="background-color:;font-weight:bold;">azienda esclusivamdnte dedicata a</span> sistemi e soluzioni <span style="background-color:;font-weight:bold;">RFID</span>
            </p>

            <h4>2007</h4>
            <p class="ef-small-title" style="color:#000">
              prima etichetta RFID per <span style="background-color:;font-weight:bold;">applicazione sotterranea</span> (condotti gas)
            </p>

            <h4>2009</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">Biolabel (R)</span> l'etichetta piú ecologica (fatta di pietra)
            </p>

            <h4>2010</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">Hercules (R)</span>, l'etichetta per bottiglie fredde e umide (ance per il cemento)
            </p>

            <h4>2010</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">Rotas Pipe</span>, (sistema RFID per composti medicinali)
            </p>

            <h4>2010</h4>
            <p class="ef-small-title" style="color:#000">
              Membri dell'Istituto di Centromarca per la Difesa e l'Identificazione di Marchi Autentici e Lotta alla Contraffazione <span style="background-color:;font-weight:bold;">(INDICAM)</span>
            </p>

            <h4>2011</h4>
            <p class="ef-small-title" style="color:#000">
              Patent applications: <span style="background-color:;font-weight:bold;">Rotas Building Tracking</span> (sistema per la tracciabilità nell'edilizia). Patent pending: <span style="background-color:;font-weight:bold;">Rotas Art</span> (innovativo tablet videoguida per musei).
            </p>

            <h4>2012</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">NFC Tag</span> integrati in biglietti da visita ed etichette, da leggere con smartphone.
            </p>

            <h4>2012</h4>
            <p class="ef-small-title" style="color:#000">
              <span style="background-color:;font-weight:bold;">1ª etichetta con Brillante.</span>
            </p>

          </div>

          <div class="one_fourth">
          </div>

        </div>
      </div>
    </div>
  </div>

</div>