<div class="ef-content" id="soluzioni">
  <div class="ef-inner-header ef-toggled">
    
    <div class="ef-page-details">       
      <h1>Soluzioni</h1>
      <div class="ef-description">
        <p>Prova a chiederci <span>l'impossibile</span>...<br/>vi stupiremo!</p>
      </div>
      
      <a class="ef-next-page" href="#clienti"></a>
      <a class="ef-prev-page" href="#about"></a>
      
    </div>
    <span class="gradi"></span>
  </div>
  
  <div class="ef-column ef-fold">       
    <div class="ef-col-inner">
      <div class="ef-page-content clearfix">
        <div class="shortcode-wrapper">
        
          <div class="one_fourth">
            <h4>Fiere</h4>
            
            <p class="ef-small-title">Neque porro quisquam est</p>

            <h6>Opens September 1, 2012</h6>
            <p>StrongHold, Solo Exhibition, StressPress, Portland</p>
            
            <h6>March 20, 2012</h6>
            <p>Photo Of The Year Awards, NY</p>
            
            <h6>March 4, 2012</h6>
            <p>Grass Hop National, Portland</p>
            
            <h6>February 21, 2012</h6>
            <p>Brave Inc., Nice Shot, Boston</p>
            
            <h6>January 15, 2012</h6>
            <p>Some Pounds, Philadelphia</p>

          </div>
          
          <div class="shortcode-clear"></div>
          
          <div class="one_fourth">
            <h4>News</h4>
            
            <p class="ef-small-title">Temporibus autem quibusdam et aut officiis debitis</p>
            
            <h5><a href="#">New York Times</a></h5>
            <p>Et harum quidem rerum facilis est et expedita distinctio</p>
            
            <h5><a href="#">Big Stock Photo</a></h5>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus</p>
            
            <h5><a href="#">Prime Arts</a></h5>
            <p>At vero eos et accusamus et iusto odio dignissimos</p>
            
            <h5><a href="#">PhotoBuzz</a></h5>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet</p>
            
          </div>
          
          <div class="one_fourth">
            <h4>Tags</h4>
            
            <p class="ef-small-title">Necessitatibus saepe</p>
            
            <ul class="clearlist">
              <% all_elements = 0 %>
              <% @produzione_cat.each do |cat| %>
                <% all_elements += cat['child'].count %>
                <li>
                  <a data-filter=".<%= cat['sml']['it'].title %>" href="#produzione¢">
                    <span class="ef-highlight hl-dark"><%= cat['sml']['it'].title %></span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>        
    
</div>