  <div class="row-fluid">
  <div class="span9">
    <%= link_to "<i class='icon-arrow-left'></i>  Torna a #{@ele.sml.where('fklang=?', "it").first.title}".html_safe, "/admin/mods/list?idserv=#{@servizio.id}&idc=#{@ele.fkcat}" %>
  </div>
  <div class="span9">
    <h3 style="text-align:right;margin-bottom:5px;">Gestione Immagini Predefinite</h3>
    <div style="text-align:right;margin:10px 0px 10px 0px;">
      <a href="#" class="btn btn-primary" id="sel-file">Seleziona/Modifica i file da associare all'elemento</a>
      <br/><br/>
      <a href="#" class="btn btn-alert" id="elimina-immagini">Elimina immagini selezionate</a>
    </div>
    <table class="table table-striped table-bordered table-condensed admin-table" id="sort">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th>Immagine</th>
          <th>Descrizione</th>
          <th width="20%">Elimina</th>
        </tr>
      </thead>
      <tbody id="file-list">
        <% @ele.media.each do |up| %>
          <% unless up.upload.nil? %>
            <tr id="<%= up.id %>">
              <td><a href='#' style='cursor:hand'><span class='icon-move'></span></a></td>
              <td width="100px">
                <% if up.upload.ext =~ /image/ %>
                    <%= image_tag up.upload.filename_url(:micro), :class => "img-polaroid" %>
                  <% else %>
                    <%= image_tag "file_pdf.png", :class => "img-polaroid" %>
                  <% end %>
              </td>
              <td>
                <textarea id='text-<%= up.id %>' class="img-text" name='text-<%= up.id %>' style='width:90%;height:50px;'><%= get_media_description(@ele,up.upload)%></textarea>
              </td>
              <td><input type="checkbox" name="rimuovi" id="remove-<%= up.id %>" value="<%= up.id %>" /></td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>


<!--
  MODAL DIALOG FOR FILES LIST
-->
<div class="modal hide fade" id="media-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>File caricati nel sistema</h4>
  </div>
  <div class="modal-body">
    <p>
      Seleziona i file che desideri associare
      <br/>
      Filtra per categoria:
      <select id="img-cat">
        <option value="-1">Seleziona una categoria</option>
        <% @ufolder.each do |fold| %>
          <option value="<%= fold.id %>"><%= fold.nome %></option>
        <% end %>
      </select>
      <br/>
      <ul class="thumbnails" id="file-thumbs">
        <% @upload.each do |up| %>
        <li class="span2">
          <div class="thumbnail">
            <% if up.ext =~ /image/ %>
              <%= image_tag up.filename_url(:micro), :class => "img-polaroid" %>
            <% else %>
              <%= image_tag "file_pdf.png", :class => "img-polaroid" %>
            <% end %>
            <br>
            <% check = "" %>
            <% if !@m_array.nil? && (@m_array.include? up.id) %>
              <% check = "checked='checked'" %>
            <% end %>
            <input type="checkbox" <%= check %> name="rimuovi" id="modal-<%= up.id %>" value="<%= up.id %>" />
            <%= truncate(print_file_name(up.filename_url), :length => 10) %>
          </div>
        </li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="associa-file">Associa file</a>
  </div>
</div>
<!--
  END MODAL DIALOG FOR FILES LIST
-->

<script type="text/javascript">

  $(document).ready(function() {
    $(".img-text").focusout(function() {
      var id = $(this).attr("id").split("-")[1]
      $.post("/admin/media/updateimagetext", {"id": id, "text": $(this).val(), "ide": "<%= @ele.id unless @ele.nil? %>"}, function () {});
    });

    $("#media-modal").modal('hide');

    $("#sel-file").click(function() {
      $("#media-modal").modal('show')
    });

    $("#associa-file").click(function() {
      var add_elements = new Array();
      var result = $("input[id^='modal-']").each(function(){
        if ( $(this).is(":checked") ) {
          add_elements.push($(this).val());
        }
      });
      var string_result = add_elements.join(",");

      $.post("/admin/media/associafile", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
        $("#file-list").html(txt.txt);
        $("#media-modal").modal('hide');

        $(".img-text").focusout(function() {
          var id = $(this).attr("id").split("-")[1]

          $.post("/admin/media/updateimagetext", {"id": id, "text": $(this).val(), "ide": "<%= @ele.id unless @ele.nil? %>"}, function () {});
        });

        $("#elimina-immagini").click(function() {
          if (window.confirm("Eliminare le immagini selezionate?")) {
            var add_elements = new Array();
            var result = $("input[id^='remove-']").each(function(){
              if ( $(this).is(":checked") ) {
                add_elements.push($(this).val());
              }
            });
            var string_result = add_elements.join(",");

            $.post("/admin/media/destroyimages", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
              document.location = "/admin/media/associa?idserv=<%= @servizio.id %>&idm=<%= @ele.id  unless @ele.nil? %>"
            });
          }
        });
      });
    });

    $("#elimina-immagini").click(function() {
      if (window.confirm("Eliminare le immagini selezionate?")) {
        var add_elements = new Array();
        var result = $("input[id^='remove-']").each(function(){
          if ( $(this).is(":checked") ) {
            add_elements.push($(this).val());
          }
        });
        var string_result = add_elements.join(",");

        $.post("/admin/media/destroyimages", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
          document.location = "/admin/media/associa?idserv=<%= @servizio.id %>&idm=<%= @ele.id  unless @ele.nil? %>"
        });
      }
    });


    $("#sort tbody").sortable({
      items: "tr",
      stop: function(event, ui) {
          var result = $(this).sortable('toArray');
          var string_result = result.join(",");

          $.post("/admin/media/updateordermedia/", {"idm": "<%= @ele.id %>", id: ""+ string_result +""}, function(txt) { })
        }
    });


    $("#img-cat").change(function() {
      $.getJSON("/admin/media/getfile", {"idf":""+ $(this).val() +""}, function(txt) {
        $("#file-thumbs").html(txt.html);
      })
    });

  });
</script>