<ul class="breadcrumb">
  <li>
    <%= link_to "Media", admin_media_path %><span class="divider"></span>
  </li>
</ul>
<div class="row-fluid">
  <div class="span3">
    <h3 style="text-align:left;margin-bottom:5px;">Categorie <%= @main_cat.nome %></h3>
    <ul class="nav nav-tabs nav-stacked">
      <% if @main_cat.fkparent > 0 %>
        <li><%= link_to raw("<i class='icon-arrow-left'></i> Ritorna indietro"), "/admin/media?idp=#{@main_cat.fkparent}" %></li>
      <% end %>
      <% @upload_folder.each do |up| %>
        <li>
          <div style="margin:10px 0px 10px 0px;border-bottom:solid 1px #ccc">
            <%= link_to raw("<i class='icon-folder-open'></i> #{up.nome}"), "/admin/media?idp=#{up.id}" %>
            <span style="float:right">
              <a href="#" id="modcat-<%= up.id %>" rel="operazioni" title="modifica categoria"><i class="icon-edit"></i></a>
            </span>
            &nbsp;&nbsp;
            <span style="float:right">
              <a href="#" id="delcat-<%= up.id %>" rel="operazioni" title="elimina categoria"><i class="icon-remove"></i></a>
              <input type="hidden" id="nomecat-<%= up.id %>" value="<%= up.nome %>">
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
  	<h3 style="margin-bottom:5px;">&nbsp;</h3>
  	<ul class="thumbnails">
  		<% @all_files.each do |file| %>
  		<li class="span2">
  			<a href="#" id="image-<%= file.id %>">
	  			<div class="thumbnail" style="font-size:10px;">
            <% if file.ext =~ /image/ %>
              <%= image_tag file.filename_url(:micro), :class => "img-polaroid" %>
            <% else %>
              <%= image_tag "file_pdf.png", :class => "img-polaroid" %>
            <% end %>
	  				<br>
	  				<input type="checkbox" name="rimuovi" value="<%= file.id %>" /> <%= print_file_name file.filename_url %>
	  			</div>
  			</a>
  		</li>
  		<% end %>
  	</ul>

  </div>

  <div class="span3">
  	<h3 style="text-align:right;margin-bottom:5px;">Gestione Media</h3>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to raw("<i class='icon-plus'></i> Aggiungi media"), "#", :id => "add-file" %></li>
      <li><%= link_to raw("<i class='icon-remove'></i> Elimina selezionati"), "#", :id => "del-selected" %></li>
      <li><%= link_to raw("<i class='icon-folder-close'></i> Aggiungi categoria"), "#", :id => "add-folder" %></li>
      <li>
        <%= link_to raw("<i class='icon-arrow-right'></i> Sposta file selezionati in"), "#", :id => "move-file" %>
        <select name="categorie_list" id="categorie-list">
          <option value="-1">--[ Seleziona la categoria ]--</option>
          <% @all_folder.each do |folder| %>
            <option value="<%= folder.id %>"><%= folder.nome %></option>
          <% end %>
        </select>
      </li>
    </ul>
  </div>
</div>

<!--
	MODAL DIALOG FOR UPLOAD FILE
-->
<div class="modal hide fade" id="upload-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Carica nuovo media</h4>
  </div>
  <div class="modal-body">
    <p>
    	Clicca sul pulsante qui sotto per caricare i tuoi file.
    	<br/>
    	<%= form_for "media", :url => { :controller => "media", :action => "create" }, :html => {:id => "form", :class => "form-horizontal", :multipart => true} do |f| %>
    		<%= f.file_field :filename %>
    	<% end %>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<!--
	END MODAL DIALOG FOR UPLOAD FILE
-->

<!--
  MODAL DIALOG FOR CREATE FOLDER
-->
<div class="modal hide fade" id="categoria-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Creazione nuova categoria</h4>
  </div>
  <div class="modal-body">
    <p>
      Inserisci il nome della categoria
      <br/>
      <%= form_for "categoria", :url => { :controller => "media", :action => "create_categoria" }, :html => {:class => "form-horizontal"} do |f| %>
        <%= f.hidden_field :fkparent, :value => @idp %>
        <%= f.text_field :nome %>
        <%= f.hidden_field :id %>
        <br><br>
        <%= f.submit ("Crea nuova categoria"), :class => "btn" %>
      <% end %>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<!--
  END MODAL DIALOG FOR CREATE FOLDER
-->

<script type="text/javascript">
  function onComplete(e) {
  	document.location = "/admin/media?idp=<%= @idp %>";
  }

  $(document).ready(function() {
    $("#move-file").click(function() {
      var move_elements = new Array();
      var result = $('input').each(function(){
        if ( $(this).is(":checked") ) {
          move_elements.push($(this).val());
        }
      });

      if ( move_elements.length == 0 ) {
        alert("Selezionare prima almeno un file da spostare");
      } else {
        if ( window.confirm("Spostare i file selezionati nella categoria selezionata?") ) {
          var string_result = move_elements.join(",");
          $.post("/admin/media/movecat", {"idp": ""+ $("#categorie-list").val() +"", "ids": ""+ string_result +"" }, function(txt) {
            document.location = "/admin/media?idp="+ txt.idp;
          });
        }
      }

    });

    $("a[rel^='operazioni']").tooltip({'placement':'top'});

    $("a[id^='delcat-']").click(function() {
      if ( window.confirm("Attenzione! Eliminando la categoria selezionate verranno eliminate tutte le sottocategorie presenti!") ) {
        $.post("/admin/media/delcat", { idc: ""+ $(this).attr("id").split("-").pop() +"" }, function(txt) {
          document.location = "/admin/media?idp=<%= @idp %>";
        });
      }
    });

    $("a[id^='modcat-']").click(function() {
      $("#categoria_nome").val( $("#nomecat-"+ $(this).attr("id").split("-").pop()).val() );
      $("#categoria_id").val( $(this).attr("id").split("-").pop() );
      $("#categoria-modal").modal("show");
    });

  	$("#media_filename").kendoUpload({
  		async: {
  			saveUrl: '/admin/media?idp=<%= @idp %>',
  			removeUrl: '/admin/media/remove',
  			autoUpload: true
  		},
  		complete: onComplete
  	});
		
  	$("#upload-modal").modal('hide')
  	$("#add-file").click(function() {
  		$("#upload-modal").modal('show');
  	});

    $("#categoria-modal").modal('hide');
    $("#add-folder").click(function() {
      $("#categoria-modal").modal('show');
    });


    $("#del-selected").click(function() {
      if (window.confirm("Eliminare tutti i media selezionati?")) {
        var delete_elements = new Array();
        var result = $('input').each(function(){
          if ( $(this).is(":checked") ) {
            delete_elements.push($(this).val());
          }
        });
        var string_result = delete_elements.join(",");
        $.post("/admin/media/destroyall", { id: ""+ string_result +""}, function(txt) {
          document.location = "/admin/media?idp=<%= @idp %>";
        });
      }
    });
  });
</script>