<script type="text/javascript">
	$(document).ready(function() {
		//$("#tabs").tab('show');
	});
</script>
<ul class="breadcrumb">
  <li>
    <%= link_to "Servizi", @servizio.path %>
    <span class="divider"></span>
    Inserimento / Modifica
  </li>
</ul>

<div class="row-fluid">
	<div class="span8">
		
		<%= form_for [:admin, @servizio], :html => {:id => "form", :class => "form-horizontal"} do |f| %>

			<%= render :partial => 'admin/servizis/form', :locals => { :f => f } %>

			<div class="form-actions">
				<%= f.submit "save", :class => "btn btn-primary" %>
				<%= f.submit "cancel", :class => "btn" %>
			</div>	

		<% end %>
		
	</div>
</div>