/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Theme 	: Shutter 1.2
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

	/* Controls Bar
	----------------------------*/
	#controls-wrapper { margin:0; text-align: center;  width: 100%;	}
		#controls { position:relative; display: inline-block;	}
			#slidecounter { color: #fff; text-shadow: 0px 0px 5px #000; text-shadow: 0px 0px 5px  rgba(0, 0, 0, 1); filter: dropshadow(color=#000, offx=0, offy=0); padding: 0; text-align: center; float:left; font-size: 0.706em; margin-right: 20px;	}
			#slidecaption { display: none; float:left; color:#FFF; font-weight: 700;
				text-transform: uppercase; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); text-align: left; position: fixed; bottom: 120px; left: 2%; width: 20%;
			}
			
			#navigation { float:right; margin:0px 20px 0 0; }
				#play-button{ float:left; display: block; }
					#play-button:hover{ cursor:pointer; }
				
				#prevslide, #nextslide { height:35px; width:35px; background: url('../../../images/slider-arrows.png') no-repeat right top; float: left; opacity: 1!important; margin-top: 3px; }
				
					#prevslide:hover, #nextslide:hover {
						border-color: transparent;
						background-position: right bottom;
					}
					
					#nextslide:hover {
						background-position: left bottom;
					}

					#nextslide{ background-position: left top; margin-right: 0!important; }
						#prevslide:hover, #nextslide:hover { cursor:pointer; }
				
				ul#slide-list{ float:left; position:absolute; left: 0; }
					ul#slide-list li{ list-style:none; width:10px; float:left; margin:0 15px 0 0; }

						ul#slide-list li a { display:inline-block; width:10px; height:10px; background:url('../../../images/slider-dot.png') no-repeat left top; }
							ul#slide-list li a:hover{ cursor:pointer; }
							
							ul#slide-list li.current-slide a {
								background-position: left bottom;
							}
		
	
	/* Progress Bar
	----------------------------*/					
	#progress-back{ z-index:5; position:absolute; bottom:0; left:0; height:2px; right: 0; background-color: transparent; }
		#progress-bar{ position:relative; height:100%; width:100%;}
	
	
/* Thumbnail Tray
----------------------------*/			
#thumb-tray{ position: absolute; bottom:0; width: 100%; text-align:left;
}
	
	#thumb-back, #thumb-forward { margin-top: 10px; height:35px; width:35px; float: left; background-image: url('../../../images/thumb-next-prev.png'); background-repeat: no-repeat; background-position: left bottom; border-width: 1px; border-style: solid; margin-right: 17px; }

		#thumb-forward{ background-position: left top;}
			#thumb-back:hover, #thumb-forward:hover { cursor:pointer; border-color: transparent; }
			#thumb-back:hover {
				background-position: right bottom;
			}
			#thumb-forward:hover {
				background-position: right top;
			}
	
	ul#thumb-list{ display: inline-block; list-style:none; position: relative; float: left;
	}
		ul#thumb-list li{  background:#fff; list-style:none; display: block; float: left; width:90px; height: 60px; overflow:hidden; margin: 0; }
		
		ul#thumb-list li img { display: block; height:auto; width: 90px; -webkit-filter: grayscale(100%); filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d;
		}
		

		
		ul#thumb-list li.current-thumb img { -webkit-filter: grayscale(0%); filter: none; }
		
		ul#thumb-list li:hover{ cursor:pointer; }			