<%= f.hidden_field :fkparent, :value => @id_parent %>
<%= f.hidden_field :idserv, :value => @servizio.id %>
<div class="row-fluid">
	<div class="span9">
		<ul id="tabs" class="nav nav-tabs">
			<% @lingue.each do |lingua| %>
				<li class="<%= "active" if lingua.cod.eql?('it') %>"><a href="#<%= lingua.cod %>"><%= lingua.lingua %></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<% @lingue.each do |lingua| %>

				<div id="<%= lingua.cod %>" class="tab-pane <%= "active" if lingua.cod.eql?('it') %>">

					<div class="control-group">
						<label for="<%= lingua.cod %>_titolo" class="control-label">Titolo (<%= lingua.cod %>)</label>
						<div class="controls">
							<input type="text" name="<%= lingua.cod %>[title]" id="<%= lingua.cod %>_titolo" class="input-xlarge" value="<%= @sml[lingua.cod].title unless @sml[lingua.cod
						].nil? %>">
						</div>
					</div>

					<div class="control-group">
						<label for="<%= lingua.cod %>_testo" class="control-label">Testo (<%= lingua.cod %>)</label>
						<div class="controls">
							<textarea name="<%= lingua.cod %>[description]" id="<%= lingua.cod %>_description" class="input-xlarge editor"><%= @sml[lingua.cod].description unless @sml[lingua.cod].nil? %></textarea>
						</div>
					</div>

				</div>
			<% end %>
		</div>


		<% if @servizio.id == 3 %>
			<div class="span4">
			  <div class="control-group">
			    <label for="settori">Settori</label>
			    <div class="controls">
			      <ul style="list-style-type:none">
			        <% @settori.each do |settore| %>
			          <li style="padding:5px 0px 5px 0px">
			            <label for="" class="checkbox">
			              <input type="checkbox" name="settori[<%= settore['gen'].id %>]" <%= "checked" if @sel_settori && @sel_settori.include?(settore['gen'].id.to_s) %> value="<%= settore['gen'].id %>"><%= settore['sml']['it'].title %>
			            </label>
			          </li>
			        <% end %>
			      </ul>
			    </div>
			  </div>
			</div>

			<div class="span4">
			  <div class="control-group">
			    <label for="settori">Applicazioni</label>
			    <div class="controls">
			      <ul style="list-style-type:none">
			        <% @applicazioni.each do |app| %>
			          <li style="padding:5px 0px 5px 0px">
			            <label for="" class="checkbox">
			              <input type="checkbox" name="app[<%= app['gen'].id %>]" <%= "checked" if @sel_app && @sel_app.include?(app['gen'].id.to_s) %> value="<%= app['gen'].id %>"><%= app['sml']['it'].title %>
			            </label>
			          </li>
			        <% end %>
			      </ul>
			    </div>
			  </div>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">

$(window).ready(function() {
	$(".editor").kendoEditor({
		encoded:false
	});

	$('#tabs a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	});

});
</script>