<%= f.hidden_field :fkcat, :value => @cat.id %>
<%= f.hidden_field :idserv, :value => @servizio.id %>
<div class="row-fluid">
  <div class="span9">

    <% if @fields['gen'] %>
      <% @fields['gen'].each do |field| %>
        <div class="control-group">
          <label for="<%= field['nome'] %>" class="<%= field['label_class'] %>"><%= field['label'] %></label>
          <div class="controls">
            <% value = @ele.send field['nome'] unless @ele.nil? %>
            <% checked = "checked" if value.eql?("1") %>
            <% if field['type'] == "text" %>
              <%= raw(field['str'] % [ field['class'], field['id'], "mods[#{field['nome']}]",  "#{value}" ]) %>
            <% elsif field['type'] == "checkbox" %>
              <%= raw(field['str'] % [ field['class'], field['id'], "mods[#{field['nome']}]",  "1", checked ]) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <ul id="tabs" class="nav nav-tabs">
      <% @lingue.each do |lingua| %>
        <li class="<%= "active" if lingua.cod.eql?('it') %>"><a href="#<%= lingua.cod %>"><%= lingua.lingua %></a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @lingue.each do |lingua| %>

        <div id="<%= lingua.cod %>" class="tab-pane <%= "active" if lingua.cod.eql?('it') %>">
          <% @fields['sml'].each do |field| %>
            <div class="control-group">
              <label for="<%= field['nome'] %>" class="<%= field['label_class'] %>"><%= field['label'] % lingua.cod %></label>
              <div class="controls">

                <% unless @sml[lingua.cod].nil? %>
                  <% value = @sml[lingua.cod].send field['nome'] unless @sml[lingua.cod].nil? %>
                <% end %>

                <% if field['type'] == "text" %>
                  <%= raw(field['str'] % [ field['class'], field['id'], "#{lingua.cod}[#{field['nome']}]", "#{value}"]) %>
                <% elsif field['type'] == "checkbox" %>
                  <%= raw(field['str'] % [ field['class'], field['id'], "#{lingua.cod}[#{field['nome']}]", "#{value}", "" ]) %>
                <% end %>

                <% if field['str1'] %>
                  <%= raw(field['str1'] % [ field['class'], field['id'], "#{lingua.cod}[#{field['nome']}]", "#{value}"]) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>

    <% if @servizio.id == 3 %>
      <div class="span4">
        <div class="control-group">
          <label for="settori">Settori</label>
          <div class="controls">
            <ul style="list-style-type:none">
              <% @settori.each do |settore| %>
                <li style="padding:5px 0px 5px 0px">
                  <label for="" class="checkbox">
                    <input type="checkbox" name="settori[<%= settore['gen'].id %>]" <%= "checked" if @sel_settori && @sel_settori.include?(settore['gen'].id.to_s) %> value="<%= settore['gen'].id %>"><%= settore['sml']['it'].title %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="control-group">
          <label for="settori">Applicazioni</label>
          <div class="controls">
            <ul style="list-style-type:none">
              <% @applicazioni.each do |app| %>
                <li style="padding:5px 0px 5px 0px">
                  <label for="" class="checkbox">
                    <input type="checkbox" name="app[<%= app['gen'].id %>]" <%= "checked" if @sel_app && @sel_app.include?(app['gen'].id.to_s) %> value="<%= app['gen'].id %>"><%= app['sml']['it'].title %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span3">
    &nbsp;
  </div>
</div>


 <%= render 'admin/partials/editor' %>


<script type="text/javascript">

$(window).ready(function() {
  $('#tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

});
</script>