<script type="text/javascript">
	$(document).ready(function() {
		//$("#tabs").tab('show');
	});
</script>
<ul class="breadcrumb">
  <li>
    <%= link_to "#{@servizio.label}", @servizio.path %><span class="divider"> > </span>
  </li>
<% if @id_parent != 0 %>
  <%= raw breadcrumb(@cat.id, true) %>
<% end %>
	<li>
    <span class="divider"></span>
    Inserimento / Modifica
  </li>
</ul>


<h3 style="margin-bottom:5px;">Inserimento / Modifica Articolo</h3>
<div class="row-fluid">
	
	<%= form_for "mods", :url => { :controller => "mods", :action => "createele" }, :html => {:id => "form", :class => "form-horizontal", :multipart => true} do |f| %>
		<%= render :partial => 'admin/mods/form_ele', :locals => { :f => f } %>

		<div class="form-actions">
			<%= f.submit "save", :class => "btn btn-primary" %>
			<%= f.submit "cancel", :class => "btn" %>
		</div>	

	<% end %>
	
</div>