<script type="text/javascript">
	$(document).ready(function() {
		//$("#tabs").tab('show');
	});
</script>
<ul class="breadcrumb">
	<li>
    <%= link_to @servizio.label, @servizio.path %>
    <span class="divider"></span>
    Inserimento / Modifica
  </li>
</ul>

<div class="row-fluid">
		<%= form_for "mods", :url => { :controller => "mods", :action => "updatecat" }, :html => {:id => "form", :class => "form-horizontal", :multipart => true} do |f| %>
			<%= hidden_field_tag "id", @mod.id %>
			<%= render :partial => 'admin/mods/form', :locals => { :f => f } %>

			<div class="form-actions">
				<%= f.submit "save", :class => "btn btn-primary" %>
				<%= f.submit "cancel", :class => "btn" %>
			</div>	

		<% end %>
		
	</div>
</div>