
<ul class="breadcrumb">
  <li>
    <a href="/admin/mods?idserv=<%= @servizio.id %>"><%= @servizio.label %></a><span class="divider"> > </span>
  </li>
  <% if @id_parent != 0 %>
    <%= raw breadcrumb(@cat.id, true, true) %>
  <% end %>
</ul>
<div class="row-fluid">
  <div class="span9">
    <h3 style="text-align:right;margin-bottom:5px;">Elenco Elementi <%= @cat.sml.where("fklang=?", "it").first.title %></h3>
    <table class="table table-striped table-bordered table-condensed admin-table" id="sort">
      <thead>
        <th width="5%" style="text-align:center">#</th>
        <th width="70%">Titolo</th>
        <th>Immagini</th>
        <th width="20%" style="text-align:center" colspan="2">Operazioni</th>
      </thead>
      <% if @modules %>
      <tbody>
        <% @modules.each do |mod| %>
          <tr id="<%= mod.id %>" style="<%= published_class mod %>">
            <td style="text-align:center">
              <a href="#" style="cursor:hand"><span class="icon-move"></span></a>
            </td>
            <td><%= mod.sml.where("fklang=?", "it").first.title unless mod.sml.where("fklang=?", "it").first.nil? %></td>
            <td style="text-align:center"><%= link_to "<i class='icon-picture'></i>".html_safe, "/admin/media/associa?idserv=#{@servizio.id}&idm=#{mod.id}" %></td>
            <td style="text-align:center">
              <%= link_to raw("<i class='icon-edit'></i>"), "/admin/mods/editele?idserv=#{@servizio.id}&idc=#{@cat.id}&id=#{mod.id}", :rel => "operazioni", :title => "modifica" %>
              &nbsp;
              <%= link_to raw("<i class='icon-trash'></i>"), "#", :rel => "#{mod.id}", :id => "del_#{mod.id}", :title => "Elimina #{get_element_title mod}" %>
              <%= link_to raw("<i class='#{find_published mod}'></i>"), "/admin/mods/publishedele?idserv=#{@servizio.id}&id=#{mod.id}", :rel => "operazioni_#{mod.id}", :title => "Sospendi/Attiva #{get_element_title mod}" %>
            </td>
            <td style="text-align:center"><input type="checkbox" name="del[<%= mod.id %>]" value="<%= mod.id %>"></td>
          </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="span3">
    <h3 style="text-align:right;margin-bottom:5px;">Gestione Elementi <%= @cat.sml.where("fklang=?", "it").first.title %></h3>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to raw("<i class='icon-plus'></i> Aggiungi elemento"), "/admin/mods/addele?idserv=#{@servizio.id}&idp=#{@cat.id}" %></li>
      <li><%= link_to raw("<i class='icon-remove'></i> Elimina selezionati"), "#", :id => "del-selected" %></li>
    </ul>
  </div>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confermi la cancellazione?</h3>
  </div>
  <div class="modal-body">
    <p>Confermi la cancellazione di <span id="modal_title"></span></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" rel="" id="modal_rel" class="btn btn-primary">Conferma</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("a[rel^='operazioni']").tooltip({'placement':'left'});

    $("a[id^='del_']").click(function() {
      if (window.confirm("Eliminare l'elemento selezionato?")) {
        document.location = "/admin/mods/destroyele?idserv=<%= @servizio.id %>&id="+ $(this).attr("rel")
      }
    });

    $("#del-selected").click(function() {
      if (window.confirm("Eliminare tutti gli elementi selezionati?")) {
        var delete_elements = new Array();

        var result = $('input').each(function(){
          if ( $(this).is(":checked") ) {
            delete_elements.push($(this).val());
          }
        });
        var string_result = delete_elements.join(",");

        $.post("/admin/mods/deleteallele", { id: ""+ string_result +""}, function(txt) {
          document.location = "/admin/mods/list?idserv=<%= @servizio.id %>&idc=<%= @cat.id %>";
        })
      }
    });

    //$("#sort tbody").sortable().disableSelection();
    $("#sort tbody").sortable({
      items: "tr",
      stop: function(event, ui) {
          var result = $(this).sortable('toArray');
          var string_result = result.join(",");

          $.post("/admin/mods/updateorderele/", {ids: "<%= @servizio.id %>", "idp": "<%= @cat.id %>", id: ""+ string_result +""}, function(txt) { })
        }
    });
    $("#sort tbody").disableSelection();
  });
</script>
