<% provide(:title, "Home") %>
<div class="hero-unit center">
  <%= image_tag "logo.png" %>
  <br/>
  <h2>Benvenuto nell'area di amministrazione</h2>
  <h4>Per poter accedere ai contenuti dell'area riservata inserisci account e password</h4>
</div>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: admin_sessions_path) do |f| %>
			
			<%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login", class: "btn btn-large btn-primary" %>
    <% end %>
	</div>
</div>

