<% provide(:title, "Dashboard") %>
<div class="row-fluid">
	<div class="hero-unit center">
		<%= image_tag "logo.png" %>
		<br/>
		<br>
	  <h2>Benvenuto <b><%= current_user.name %></b></h2>
	  <h4>Utilizza il menu in alto per amministrare le sezioni del sito</h4>
	</div>
</div>