<div class="row-fluid">
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= image_tag "simbolo.png", :style => "float:left;margin-right:20px; " %><%= link_to "Admin", '/admin', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to raw("<i class='icon-home icon-white'></i>&nbsp;&nbsp;Home"), admin_root_path %></li>
            <% if signed_in? %>
              <li class="dropdown">
                <a href="#menu-media" class="dropdown-toggle" data-toggle="dropdown" >
                  <i class="icon-picture icon-white"></i>&nbsp;&nbsp;Gestione Media
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to raw("<i class='icon-camera'></i>&nbsp;&nbsp;Gestione Immagini"), admin_media_path %></li>
                  <!-- <li><%= link_to raw("<i class='icon-play-circle'></i>&nbsp;&nbsp;Gestione Video"), admin_video_index_path %></li>     -->
                </ul>
              </li>
              <li><%= link_to raw("<i class='icon-picture icon-white'></i>&nbsp;&nbsp;Gestione Pagine Statiche"), admin_static_pages_path %></li>
              <li class="dropdown" id="menu-servizi">
                <a href="#menu-servizi" class="dropdown-toggle" data-toggle="dropdown" >
                  <i class="icon-cog icon-white"></i>&nbsp;&nbsp;Gestione Servizi
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if administrator? %>
                    <li><%= link_to raw("<i class='icon-book'></i>&nbsp;&nbsp;Servizi"), admin_servizis_path %></li>
                    <li class="divider"></li>
                  <% end %>
                  <% @all_servizi.each do |servizio| %>
                    <li><%= link_to raw("<i class='icon-list'></i>&nbsp;&nbsp;#{servizio.label}"), servizio.path %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to raw("<i class='icon-off icon-white'></i>&nbsp;&nbsp;Logout"), admin_signout_path, method: "delete" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>