<div class="row-fluid">
  <div class="span12">
    <h3 style="text-align:right;margin-bottom:5px;">Gestione Immagini Predefinite</h3>
    <ul class="nav nav-tabs nav-stacked">
      <% if @ele.nil? %>
        <li><a href="#">Salva prima il contenuto dell'elemento per poi potergli associare le immagini</a></li>
      <% else %>
        <li>
        	<a href="#" id="sel-file">Seleziona/Modifica i file da associare all'elemento</a>
        	<br/>
          <div style="width:100%;margin-bottom:20px;" id="file-box">
            <% @ele.upload.each do |up| %>
              <div style="width:30%;float:left;margin-bottom:20px;">
                <% if up.ext =~ /image/ %>
                  <%= image_tag up.filename_url(:micro), :class => "img-polaroid" %>
                <% else %>
                  <%= image_tag "file_pdf.png", :class => "img-polaroid" %>
                <% end %>
              </div>
              <div style="width:70%;float:right;margin-bottom:20px;">
                <textarea id="text-<%= up.id %>" name="text-<%= up.id %>" style="width:100%;height:50px;"><%= get_media_description(@ele,up)%></textarea>
                <br/>
                <input type="checkbox" name="rimuovi" id="remove-<%= up.id %>" value="<%= up.id %>" /> 
                <%= truncate(print_file_name(up.filename_url), :length => 70) %>
              </div>
              <div style="clear:both"></div>
            <% end %>
          </div>
        </li>
      <% end %>
      <li id="eliminazione-file">
        <% if !@ele.nil? && @ele.upload.count > 0 %>
        	<a href="#" id="elimina-immagini">Elimina immagini selezionate</a>
          <%= link_to raw("Elimina tutte le immagini"), "/admin/mods/destroyallimages?idserv=#{@servizio.id}&idc=#{@ele.fkcat}&id=#{@ele.id}", method: :delete, data: { confirm: "Sei sicuro di voler eliminare tutte le immagini?" }  %>
        <% end %>
      </li>
   	</ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h3 style="text-align:right;margin-bottom:5px;">Gestione Video</h3>
    <ul class="nav nav-tabs nav-stacked">
      <% if @ele.nil? %>
        <li><a href="#">Salva prima il contenuto dell'elemento per poi potergli associare i video</a></li>
      <% else %>
        <li>
          <a href="#" id="sel-video">Seleziona/Modifica i video da associare all'elemento</a>
          <br/>
          <div style="width:100%;margin-bottom:20px;" id="video-box">
            <% @ele.video.each do |up| %>
              <div style="width:30%;float:left;margin-bottom:20px;">
                <%= image_tag up.img, :class => "img-polaroid", :width => "80", :height => "80" %>
              </div>
              <div style="width:70%;float:right;margin-bottom:20px;">
                <textarea id="videotext-<%= up.id %>" name="videotext-<%= up.id %>" style="width:100%;height:50px;"><%= get_video_description(@ele,up)%></textarea>
                <br/>
                <input type="checkbox" name="rimuovi" id="remove-<%= up.id %>" value="<%= up.id %>" /> 
                <%= truncate(print_file_name(up.title), :length => 70) %>
              </div>
              <div style="clear:both"></div>
            <% end %>
          </div>
        </li>
      <% end %>
      <li id="eliminazione-video">
        <% if !@ele.nil? && @ele.video.count > 0 %>
          <a href="#" id="elimina-video">Elimina video selezionate</a>
          <%= link_to raw("Elimina tutte le immagini"), "/admin/mods/destroyallvideo?idserv=#{@servizio.id}&idc=#{@ele.fkcat}&id=#{@ele.id}", method: :delete, data: { confirm: "Sei sicuro di voler eliminare tutti i video?" }  %>
        <% end %>
      </li>
    </ul>
  </div>
</div>  

<!--
  MODAL DIALOG FOR FILES LIST
-->
<div class="modal hide fade" id="media-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>File caricati nel sistema</h4>
  </div>
  <div class="modal-body">
    <p>
      Seleziona i file che desideri associare
      <br/>
      <ul class="thumbnails">
        <% @upload.each do |up| %>
        <li class="span2">
          <div class="thumbnail">
            <% if up.ext =~ /image/ %>
              <%= image_tag up.filename_url(:micro), :class => "img-polaroid" %>
            <% else %>
              <%= image_tag "file_pdf.png", :class => "img-polaroid" %>
            <% end %>
            <br>
            <% check = "" %>
            <% if !@m_array.nil? && (@m_array.include? up.id) %>
              <% check = "checked='checked'" %>
            <% end %>
            <input type="checkbox" <%= check %> name="rimuovi" id="modal-<%= up.id %>" value="<%= up.id %>" /> 
            <%= truncate(print_file_name(up.filename_url), :length => 10) %>
          </div>
        </li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="associa-file">Associa file</a>
  </div>
</div>
<!--
  END MODAL DIALOG FOR FILES LIST
-->


<!--
  MODAL DIALOG FOR VIDEO LIST
-->
<div class="modal hide fade" id="video-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Video caricati nel sistema</h4>
  </div>
  <div class="modal-body">
    <p>
      Seleziona i video che desideri associare
      <br/>
      <ul class="thumbnails">
        <% @video.each do |up| %>
        <li class="span2">
          <div class="thumbnail">
            <%= image_tag up.img, :class => "img-polaroid" %>
            <br>
            <% check = "" %>
            <% if !@m_array.nil? && (@m_array.include? up.id) %>
              <% check = "checked='checked'" %>
            <% end %>
            <input type="checkbox" <%= check %> name="rimuovi" id="video-<%= up.id %>" value="<%= up.id %>" /> 
            <%= truncate(up.title, :length => 10) %>
          </div>
        </li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="associa-video">Associa video</a>
  </div>
</div>
<!--
  END MODAL DIALOG FOR VIDEO LIST
-->

<script type="text/javascript">

	$(document).ready(function() {
    $("[id^='videotext']").focusout(function() {
      var id = $(this).attr("id").split("-")[1]
      
      $.post("/admin/mods/updatevideotext", {"id": id, "text": $(this).val(), "ide": "<%= @ele.id unless @ele.nil? %>"}, function () {});
    });

		$("#media-modal").modal('hide');

		$("#sel-file").click(function() {
			$("#media-modal").modal('show')
		});

		$("#associa-file").click(function() {
			var add_elements = new Array();
      var result = $("input[id^='modal-']").each(function(){
        if ( $(this).is(":checked") ) {
          add_elements.push($(this).val());
        }
      });
      var string_result = add_elements.join(",");
      
      $.post("/admin/mods/associafile", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
      	$("#file-box").html(txt.txt);
        $("#eliminazione-file").html(txt.del)
        $("#media-modal").modal('hide');

        $("[id^='text']").focusout(function() {
          var id = $(this).attr("id").split("-")[1]
          
          $.post("/admin/mods/updateimagetext", {"id": id, "text": $(this).val(), "ide": "<%= @ele.id unless @ele.nil? %>"}, function () {});
        });

        $("#elimina-immagini").click(function() {
          if (window.confirm("Eliminare le immagini selezionate?")) {
            var add_elements = new Array();
            var result = $("input[id^='remove-']").each(function(){
              if ( $(this).is(":checked") ) {
                add_elements.push($(this).val());
              }
            });
            var string_result = add_elements.join(",");
            
            $.post("/admin/mods/destroyimages", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
              document.location = "/admin/mods/editele?idserv=<%= @servizio.id %>&idc=<%= @ele.fkcat  unless @ele.nil? %>&id=<%= @ele.id  unless @ele.nil? %>"
            });
          }
        });
      });
		});

    $("#elimina-immagini").click(function() {
      if (window.confirm("Eliminare le immagini selezionate?")) {
        var add_elements = new Array();
        var result = $("input[id^='remove-']").each(function(){
          if ( $(this).is(":checked") ) {
            add_elements.push($(this).val());
          }
        });
        var string_result = add_elements.join(",");
        
        $.post("/admin/mods/destroyimages", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
          document.location = "/admin/mods/editele?idserv=<%= @servizio.id %>&idc=<%= @ele.fkcat  unless @ele.nil? %>&id=<%= @ele.id  unless @ele.nil? %>"
        });
      }
    });

    $("#sel-video").click(function() {
      $("#video-modal").modal('show')
    }); 

    $("#associa-video").click(function() {
      var add_elements = new Array();
      var result = $("input[id^='video-']").each(function(){
        if ( $(this).is(":checked") ) {
          add_elements.push($(this).val());
        }
      });
      var string_result = add_elements.join(",");
      
      $.post("/admin/mods/associavideo", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
        $("#video-box").html(txt.txt);
        $("#eliminazione-video").html(txt.del)
        $("#video-modal").modal('hide');

        $("[id^='videotext']").focusout(function() {
          var id = $(this).attr("id").split("-")[1]
          
          $.post("/admin/mods/updatevideotext", {"id": id, "text": $(this).val(), "ide": "<%= @ele.id unless @ele.nil? %>"}, function () {});
        });

        $("#elimina-video").click(function() {
          if (window.confirm("Eliminare i video selezionati?")) {
            var add_elements = new Array();
            var result = $("input[id^='remove-']").each(function(){
              if ( $(this).is(":checked") ) {
                add_elements.push($(this).val());
              }
            });
            var string_result = add_elements.join(",");
            
            $.post("/admin/mods/destroyvideo", {"id": ""+ string_result +"", "ide": "<%= @ele.id unless @ele.nil? %>"}, function(txt) {
              document.location = "/admin/mods/editele?idserv=<%= @servizio.id %>&idc=<%= @ele.fkcat  unless @ele.nil? %>&id=<%= @ele.id  unless @ele.nil? %>"
            });
          }
        });
      });
    });


	}); 
</script>