<ul class="breadcrumb">
  <li>
    <%= link_to "Video", admin_video_index_path %><span class="divider"></span>
  </li>
</ul>
<div class="row-fluid">
  <div class="span9">
  	<h3 style="margin-bottom:5px;">&nbsp;</h3>
  	<ul class="thumbnails">
  		<% @all_video.each do |file| %>
  		<li class="span2">
  			<div class="thumbnail" style="font-size:10px;">
          <%= image_tag "#{file.img}", :class => "img-polaroid" %>
  				<br>
  				<input type="checkbox" name="rimuovi" value="" /> <%= file.title %>
  			</div>
  		</li>
  		<% end %>
  	</ul>

  </div>

  <div class="span3">
  	<h3 style="text-align:right;margin-bottom:5px;">Gestione Video</h3>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to raw("<i class='icon-refresh'></i> Aggiorna video"), "#", :id => "act-selected" %></li>
      <li><%= link_to raw("<i class='icon-remove'></i> Elimina selezionati"), "#", :id => "del-selected" %></li>
    </ul>
  </div>
</div>


<!--
  MODAL DIALOG FOR UPDATE VIDEO
-->
<div class="modal hide fade" id="update-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Aggiornamento video</h4>
  </div>
  <div class="modal-body">
    <p>
      Aggiornamento lista video da youtube in corso
    </p>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 60%;"></div>
    </div>
  </div>
</div>
<!--
  END MODAL DIALOG FOR UPDATE VIDEO
-->


<script type="text/javascript">
  $(document).ready(function() {
    $("#update-modal").modal('hide')

    $("#act-selected").click(function() {
      $("#update-modal").modal('show')
      $.post("/admin/video/update", function(txt) {
        document.location = "/admin/video";
      });
    });

    $("#del-selected").click(function() {
      if (window.confirm("Eliminare tutti i media selezionati?")) {
        var delete_elements = new Array();
        var result = $('input').each(function(){
          if ( $(this).is(":checked") ) {
            delete_elements.push($(this).val());
          }
        });
        var string_result = delete_elements.join(",");
        $.post("/admin/media/destroyall", { id: ""+ string_result +""}, function(txt) {
          document.location = "/admin/media";
        });
      }
    });
  });
</script>
