/*

Theme Name: Sniper
Description: Premium HTML/CSS Template
Author: fireform
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.0

Designed & Coded by Fireform
All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

--------------------------------------------------------------------------





0.	Theme colors, backgrounds, fonts, headers and other main styles

1.	Document Setup (body, common classes, etc.)

2.	Page styles

	2-1.	Page structure
	2-2.	Page navigation
	2-3.	Logo
	2-4.	Navigation menu
	2-5.	Header
	2-6.	Topbar
	2-7.	Slider
	2-8.	Images and thumbnails
	2-9.	Portfolio and Blog styles

	  2-9a.	Reply and Feedback form
	  2-9b.	Blog post comments

	2-10.	Contact page styles
	2-11.	Post slider

3.	Widgets

4.	Other styles

*/





/*--------------- 0 START COLORS, FONTS, HEADERS, AND OTHER MAIN STYLES --------------*/

/*Colors*/

/*Main color*/
.ef-navmenu li.backLava, #progress-bar, #prevslide:hover, #nextslide:hover, #thumb-back:hover, #thumb-forward:hover, span.ef-highlight.hl-theme, a span.ef-highlight.hl-dark, .flex-direction-nav li a:hover, .ef-menu-tab, .ef-select-menu, .ef-ie .ef-select-menu option, .ef-form div.send-wrap div input:hover, .ef-big-btn.ef-theme-btn, .ef-big-btn.ef-theme-btn.ef-reversed:hover, #ef-topbar-button.ef-close, #tray-button.ef-close-add div, #ef-topbar-button:hover, #tray-button div:hover, .ef-tooltip {
	background-color:#C1001F;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, ul li a, ol li a, p a, .ef-post-details div a:hover, .ef-form div label span, .ef-form div.send-wrap span span, #ef-office-1:hover, #ef-office-2:hover, .tabs-nav .ui-tabs-selected a, .ef-accordion .ui-accordion-header.ui-state-active a, .ef-toggle-box li.open a, a.ef-button:hover {
	color: #C1001F;
}

.ef-tooltip:before, .ef-tooltip:after, #ef-topbar-button .ef-tooltip:before, #ef-topbar-button .ef-tooltip:after,
 #tray-button div .ef-tooltip:before, #tray-button div .ef-tooltip:after {
	border-color: #C1001F;
}

::selection {
	background: #C1001F;
	color: #fff;
}

::-moz-selection {
	background: #C1001F;
	color: #fff;
}

/* Other colors */
body, .ef-toggle-box li a, .tabs-nav a, .ef-accordion .ui-accordion-header a, .ef-button:hover, #ef-topbar a:hover, #ef-topbar a:hover {
	color: #757575;
}

#ef-topbar .widget_portfolio_categories ul li a span, #ef-footer {
	background-color: #505050;
}

#ef-footer {
	background-color: #404040;
}

a:hover, .ef-inner-header, #ef-header, .ef-navmenu a, .ef-form input, .ef-form textarea, #ef-filter li a span, .ef-post-details, p.ef-small-title, .widget_twitter .tweet_time a, .widget_portfolio_categories ul li a span, .comments-list .post-comm div.auth span, #ef-topbar {
	color: #9a9a9a;
}

h1, h2, h3, h4, h5, h6, div.ef-description p span, strong, #slidecounter, .ef-post-details a, .ef-post-details span, #ui-lightbox-title-wrapper, #ef-filter li a, #ef-filter li.p-current a span, .ef-form div.send-wrap div input, .ef-button, .widget_portfolio_categories ul li a:hover span, .widget_portfolio_categories ul li a, .widget_portfolio_categories ul li.p-current a span, .ef-archive, #ef-topbar .widget_portfolio_categories li a:hover, .ef-form .not-valid, .ef-form .not-valid input, .ef-form .ef-textarea .not-valid textarea {
	color: #404040;
}

span.ef-highlight.hl-dark, a span.ef-highlight.hl-theme, #ef-filter li.p-current a, .ef-big-btn.ef-theme-btn:hover, .ef-big-btn.ef-theme-btn.ef-reversed, ul.slides .proj-img, .widget_portfolio_categories ul li a:hover, .widget_portfolio_categories ul li.p-current a {
	color:#F00;
	background-color:#CCC;
}

#ef-topbar {
	background-color: #303030;
}

.ef-navmenu, .ef-dark-theme .ef-inner-header {
	/*background: url('/assets/overlay-dark.png'); /*if browser doesn't support rgba*/
	background: rgba(0, 0, 0, .8);
}

.flex-direction-nav li a.flex-disabled, .flex-direction-nav a {
	background-color: #000000; /*if browser doesn't support rgba*/
	background-color: rgba(0, 0, 0, .8);
}

#ui-lightbox-overlay, .jflickr li a span {
	/*background: url('/assets/overlay.png'); /*if browser doesn't support rgba*/
	background: rgba(255, 255, 255, 0.97);
}

span.ef-highlight, .ef-menu-tab, .ef-navmenu li.ef-menu-cur a, .ef-navmenu li a:hover, .ef-tooltip, #ef-filter li.p-current a, .ef-post-details span.ef-comments, .ef-list, .ef-form div.send-wrap div input:hover, .ef-alertBox, .ef-big-btn.ef-theme-btn, .ef-big-btn.ef-theme-btn:hover, .widget_portfolio_categories ul li a:hover, .widget_portfolio_categories ul li.p-current a, #ef-topbar h1, #ef-topbar h2, #ef-topbar h3, #ef-topbar h4, #ef-topbar h5, #ef-topbar h6, #ef-topbar a, #ef-topbar .widget_portfolio_categories ul li a:hover span, .ef-dark-theme div.ef-description p span, .ef-dark-theme .ef-page-details h1, .ef-dark-theme #ef-filter li a {
	color: #FFFFFF;
}

.ef-inner-header, .social-icns li a, .ef-post-slider .flex-control-nav li a, .ef-item, .ef-form div div, .ef-form div.send-wrap div input, .ef-item-inner, #ef-filter li.p-current a span, .ef-sidebar-wrapper, .ef-tabs ul.tabs-nav li.ui-tabs-selected a, .tab.ui-widget-content, .ef-accordion .ui-accordion-header a, .ef-toggle-box.toggle-icn .toggle-content, .ef-big-btn, .widget_portfolio_categories ul li a:hover span, .comments-list .post-comm, .ef-archive, #thumb-back, #thumb-forward, #tray-button div, #ef-topbar-button {
	background-color: #ffffff;
}

.ef-column, .ef-post-details span, #ef-filter li a span, .widget_portfolio_categories ul li a span, .widget_p-post-nav div div div {
	background-color: #f5f5f5;
}

#supersized li {
	background: #f5f5f5;
}

body, #ef-topbar a:hover {
	background-color: #ccc;
}

.ef-sidebar-wrapper, .ef-form div div, #ef-blog .ef-item, .ef-accordion .ui-accordion-header a, .ef-tabs .tab, .ef-tabs ul.tabs-nav li a, .ef-toggle-box.toggle-icn .toggle-content, .testimonials.ef-xl .ef-t-content, .ef-big-btn, ul.comments-list li a.ef-avatar, .comments-list .post-comm, .ef-archive, #thumb-back, #thumb-forward, .social-icns li a, #ef-topbar-button, .ef-menu-tab, #tray-button div {
	border-color: #e5e5e5;
	-webkit-box-shadow:  0px 0px 0 3px rgba(0, 0, 0, 0.02);
	        box-shadow:  0px 0px 0 3px rgba(0, 0, 0, 0.02);
}

.ef-big-btn:hover, .ef-accordion .ui-accordion-header a:hover, .ef-form div div:hover {
	border-color: #d7d7d7;
}

#thumb-tray ul#thumb-list li, #thumb-back, #thumb-forward, #prevslide, #nextslide, a#play-button, .ef-post-slider-thumbs ol.flex-control-thumbs li img {
	border-color: #e1e1e1;
	border-color: rgba(0, 0, 0, .08);
}

.testimonials.ef-xxl {
	border-color: #353535;
	border-color: rgba(0, 0, 0, .3);
}

.ef-dark-theme a#play-button {
	border-color: #404040;
	border-color: rgba(255, 255, 255, .2);
}

.ef-post-details, .ef-post-details div, .ef-form div.send-wrap div input, .widget_portfolio_categories ul li {
	border-color: #e8e8e8;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
}

h1 {
	font-size: 2.2em;
	margin-bottom: 0.6em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 0.8em;
}

h3 {
	font-size: 1.6em;
	margin-bottom: 0.9em;
}

h4 {
	font-size: 1.3em;
	margin-bottom: 1em;
}

h5 {
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 1.2em;
}

h6 {
	font-size: 0.8em;
	margin-bottom: 0.8em;
	font-weight: 600;
}

/* Fonts */
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1, h2, h3, h4, h5, .ef-navmenu li a, #slidecaption, .testimonials .ef-author, #ui-lightbox-title, .ef-tabs ul.tabs-nav li a {
	font-family: 'Open Sans Condensed', sans-serif !important;
    font-style: normal;
    font-weight: 700;
}

/* Transitions */
a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .ef-navmenu li a, a#tray-button, #prevslide, #nextslide, #thumb-back, #thumb-forward, a#tray-button, ul#thumb-list li img, .social-icns li a, .ef-prev-page, .ef-next-page, a#play-button, .flex-direction-nav li a, .proj-img a.lb, .proj-img a.ef-read-more, .ef-post-details div a, .ef-form div.send-wrap div input, #ef-office-1, #ef-office-2, .ef-button, .widget_portfolio_categories ul li a, .jflickr li a span, #ef-topbar-button, #tray-button div {

}

/* Border radius */
a#tray-button, #prevslide, #nextslide, #thumb-back, #thumb-forward, #slidecounter, .ef-navmenu li.backLava, a#play-button, .ef-post-slider .flex-control-nav li a, .ef-post-slider .flex-control-nav li, .ef-menu-tab, #tray-button div, #ef-topbar-button, #ef-mobile-menu-wrapper {
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}

.ef-highlight, .ef-navmenu, #ui-lightbox, .ef-tooltip, #ef-filter li a, .ef-post-details span, .ef-form div.send-wrap div input, .ef-list, .ef-form div div, #ef-filter li a span, div.ef-description, .ef-accordion .ui-accordion-header a, .ef-toggle-box.toggle-icn .toggle-content, .ef-alertBox, .ef-t-content, .ef-big-btn, .widget_portfolio_categories ul li a, .widget_portfolio_categories ul li a span, ul.comments-list li a.ef-avatar, .social-icns li a, #ef-topbar li a, #ef-footer a {
	color:#F00;
}

/* sidebar and content width */
	.ef-inner-header, #ef-header, .ef-inner-header span.gradi {
		width: 15%;
	}

	.ef-column {
		width: 85%; /* 100% width - .ef-inner-header width */
	}

	.dots-play, .ef-column, .ef-nav-wrapper {
		left: 15%;
	}

/*--------------- 0 END COLORS, BACKGROUNDS, FONTS, HEADERS, AND OTHER MAIN STYLES --------------*/
/*--------------- 1 START DOCUMENT SETUP --------------------------------------------------------*/

/*Webkit transition bug temporary fix*/

/*.ef-navmenu *, .ef-next-page, .ef-prev-page, .ef-back-arrow, .ef-page-details, .ef-tooltip, #ef-loader-overlay, .ef-slider-overlay, .ef-overlay, #ef-topbar, #slidecaption,  #ef-topbar-button, #tray-button *, #thumb-tray, .ef-map {
	-webkit-backface-visibility: hidden;
}

.ef-inner-header, .ef-next-page, .ef-prev-page, .ef-back-arrow, .ef-tooltip {
	-webkit-transform: translateZ(0);
}*/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:before, .clearfix:after, hr:before, hr:after, .ef-content:before, .ef-content:after, .shortcode-wrapper:after, .shortcode-wrapper:before, .proj-img:before, .proj-img:after, .social-icns:before, .social-icns:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    float: none;
}

.clearfix:after, .ef-content:before, .ef-content:after, .shortcode-wrapper:after {
    clear: both
}

.clearfix {
    zoom: 1
}

select, input, textarea, button {
	-webkit-appearance: none;
	resize: none;
	overflow: hidden;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
	overflow: hidden!important;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
	background-repeat: repeat;
	background-position: left top;
}

strong {
	font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a {
	text-decoration: none;
}

a:focus {
	outline: none;
}

ol {
	list-style: decimal;
}

ul {
	list-style: circle;
	font-size: 1em;
}

li {
	margin: 0 0 0.3em 1em;
	line-height: 1.6em;
}

p {
	font-size: 1em;
	text-align: justify;
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

p.ef-small-title {
	margin-top: -1.5em;
	text-transform: uppercase;
	font-size: 0.7em;
}

.alignleft {
	float: left;
}

.alignright {
    float: right;
}

p img {
	margin-bottom: 1.5em;
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0
}

img.alignright {
    float: right;
    margin: 0 0 20px 20px
}

.bottom-0_9em {
    margin-bottom: 0.9em;
}

.bottom-1_5em {
    margin-bottom: 1.5em;
}

.bottom-1_8em {
    margin-bottom: 1.8em;
}

.bottom-2_4em {
    margin-bottom: 2.4em;
}

.bottom-3_em {
    margin-bottom: 3em;
}

.bottom-3_6em {
    margin-bottom: 3.6em;
}

hr {
	padding-top: 1.5em;
	line-height: 0;
	height: 0;
	clear: both;
	float: none;
	margin-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px dashed #bababa;
}

#ef-topbar hr {
	border-bottom: 1px dashed #505050;
}

/*--------------- 1 END DOCUMENT SETUP ----------------------------------------------------------*/






/*--------------- 2 START PAGE STYLES -----------------------------------------------------------*/
	/*--------------- 2-1 START PAGE STRUCTURE --------------------------------------------------*/
	.ef-content {
		bottom: 0;
		left: 0;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}

	.ef-column {
		position: relative;
		top: 0;
		right: 0;
		overflow: auto;
		height: 100%;
	}

	.ef-col-inner {
		overflow: auto;
		padding: 150px 2.4% 10em;
	}

	.ef-archive {
		display: block;
		padding: 1em 2.4%;
		text-align: center;
		font-weight: 700;
		border-bottom-width: 1px;
		border-top-width: 1px;
		border-style: solid;
	}

	.ef-page-details {
		position: relative;
		z-index: 50;
		top: 35%;
	}

	.ef-page-details h1 {
		margin-bottom: 0;
		font-size: 3em;
		line-height: 1em;
		text-transform: uppercase;
		padding-bottom: 20px;
		background: url('/assets/h-divider1.png') no-repeat center bottom;
	}

	.ef-dark-theme .ef-page-details h1 {
		background: url('/assets/h-divider1-dark.png') no-repeat center bottom;
	}


	div.ef-description {
		padding-top: 14px;
	}

	div.ef-description p {
		font-size: 0.9em;
		line-height: 1.4em;
		margin-bottom: 0;
	}

	div.ef-description p span {
		font-weight: 700;
	}

	/*--------------- 2-1 END PAGE STRUCTURE -----------------------------------------------------*/
	/*--------------- 2-2 START PAGE NAVIGATION -------------------------------------------------*/
	.ef-prev-page, .ef-next-page, .ef-back-arrow {
		display: inline-block;
		position: relative;
		width: 37px;
		height: 37px;
		background: url('/assets/to-page-small.png') no-repeat left top;
		-moz-opacity: 0.30;
		-webkit-opacity: 0.30;
		opacity: 0.30;
		filter: alpha(opacity=30);
		margin-top: 25px;
	}

	.ef-dark-theme .ef-prev-page, .ef-dark-theme .ef-next-page {
		background-image: url('/assets/to-page-small-dark.png');
	}

	.ef-prev-page:hover, .ef-next-page:hover, .ef-back-arrow:hover {
		-moz-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.ef-next-page {
		background-position: left bottom;
	}

	.ef-back-arrow {
		background: url('/assets/to-page-small1.png') no-repeat left top;
	}

	.ef-dark-theme .ef-back-arrow {
		background: url('/assets/to-page-small1-dark.png') no-repeat left top;
	}

	/*--------------- 2-2 END PAGE NAVIGATION ---------------------------------------------------*/
	/*--------------- 2-3 START LOGO ------------------------------------------------------------*/
	.ef-logo, .ef-page-details {
		padding: 0 10%;
		display: block;
	}

	.ef-logo, .ef-page-details, div.ef-description p {
		text-align: center;
	}

	.ef-logo-wrapper {
		width: 100%;
		z-index: 5;
		position: relative;
	}

	/*--------------- 2-3 END LOGO --------------------------------------------------------------*/
	/*--------------- 2-4 START NAVIGATION MENU -------------------------------------------------*/
	.dots-play, .ef-nav-wrapper {
		margin-left: 2%;
	}

	.ef-nav-wrapper {
		position: fixed;
		height: 37px;
	}

	.ef-menu-tab {
		cursor: pointer;
		position: relative;
		z-index: 500;
		text-transform: uppercase;
		font-size: 0.7em;
		/*font-size:24px;*/
		font-weight: 700;
		/*font-weight: bold;*/
		float: left;
		width: 39px;
		background-image: url("/assets/ef-menu-tab-small.png");
		height: 39px;
		line-height: 19px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: left top;
	}

	#ef-mobile-menu-wrapper {
		display: none;
		width: 33px;
		height: 33px;
		overflow: hidden;
		float: left;
	}

	.ef-select-menu {
		width: 100px;
		height: 33px;
		background-position: left center;
		background-repeat: no-repeat;
		border: 0 none;
		font-size: inherit;
		margin: 0;
		white-space: nowrap;
		text-indent: -5000px;
		-webkit-border-radius: 0;
		-webkit-box-shadow: 0;
		background-image: url("/assets/ef-menu-tab-small.png");
		box-shadow:  0;
	}

	.ef-select-menu option {
		background-color: #fff;
	}

	.ef-ie .ef-select-menu {
		padding-top: 33px;
	}

	.ef-navmenu {
		position: relative;
		margin: 0 0 0 30px;
		padding: 0 1.2em;
		height: 100%;
		height: 100%;
	}

	.ef-navmenu:before {
		content: '020';
		overflow: hidden;
		text-indent: -1000px;
		position: absolute;
		left: -9px;
		top: 50%;
		margin-top: -10px;
		width: 9px;
		height: 18px;
		background: url('/assets/menu-corner.png') no-repeat left top;
	}

	.no-js .ef-menu-wrapper {
		left: 0;
		-moz-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.ef-menu-wrapper {
		display: block;
		position: relative;
		float: left;
		top: 0;
		left: -9999px;
		transition: opacity 0.4s ease-in-out;
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		-moz-opacity: 0;
		-webkit-opacity: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 499;
	}

	.ef-menu-wrapper.ef-toggle-menu {
		left: 0;
		-moz-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.ef-navmenu li {
		height: 100%;
		list-style: none;
		margin: 0;
		display: inline-block;
	}

	.ef-navmenu li.backLava {
		top: 50%!important;
		width: 4px!important;
		height: 4px!important;
		margin-top: -2px!important;
		margin-left: -3px!important;
	}

	.ef-navmenu li a {
		line-height: 37px;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 800;
		display: block;
		padding: 0 1.2em;
		position: relative;
	}

	/*--------------- 2-4 END NAVIGATION MENU ---------------------------------------------------*/
	/*--------------- 2-5 START HEADER ----------------------------------------------------------*/
	#ef-header {
		position: fixed;
		left: 0;
		right: 0;
		left: 0;
		z-index: 10;
	}

	#ef-header, .ef-nav-wrapper {
		top: 50px;
		z-index: 20;
	}

	.ef-inner-header {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		height: 100%;
	}

	.ef-inner-header:before {
		content: '';
		position: absolute;
		width: 15px;
		height: 100%;
		background-image: url('/assets/sideshadd.png');
		background-repeat: repeat-y;
		top: 0;
		right: -15px;
	}

	ef-dark-theme .ef-inner-header:before {
		right: 0;
		background-image: url('/assets/sideshadd-dark.png');
	}

	.ef-inner-header span.gradi {
		position: fixed;
		height: 35%;
		top: 0;
		left: 0;
		z-index: 50;
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	.ef-dark-theme .ef-inner-header span.gradi {
		display: none!important;
	}

	/*--------------- 2-5 END HEADER ------------------------------------------------------------*/
	/*--------------- 2-6 START TOPBAR ----------------------------------------------------------*/

	#ef-topbar-button {
		position: fixed;
		z-index: 20000;
		right: 5.2%;
		top: 50px;
		width: 39px;
		height: 39px;
		cursor: pointer;
		background-image: url('/assets/topbar-button.png');
		background-position: left top;
		border-width: 1px;
		border-style: solid;
	}

	.no-js #ef-topbar-button {
		display: none;
	}

	#ef-topbar-button:hover  {
		background-position: right top;
		border-color: transparent;
	}

	#ef-topbar-button.ef-close {
		background-position: left bottom;
		border-color: transparent;
	}

	#ef-topbar {
		position: fixed;
		overflow: hidden;
		z-index: 19999;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
	}

	.ef-topbar-frame {
		height: 100%;
	}

	.ef-topbar-inner {
		padding: 50px 10% 50px 2%;
		overflow: auto;
	}

	#ef-topbar li a, #ef-footer a {
		padding: 0 0.3em;
	}

	#ef-footer {
		font-size: 0.815em;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0.7em 2%;
	}

	.social-icns {
		display: block;
	}

	.social-icns li {
		display: inline-block;
		float: left;
		margin: 0 10px 10px 0;
		list-style: none;
	}

	.social-icns li a {
		display: block;
		height: 20px;
		width: 20px;
		background-repeat: no-repeat;
		background-position: left top;
	}

	.social-icns li a:hover {
		background-position: left bottom;
	}

	.ef-twt {
		background-image: url(/assets/content/social/twt.png);
	}

	.ef-fb {
		background-image: url(/assets/content/social/fb.png);
	}

	.ef-da {
		background-image: url(/assets/content/social/da.png);
	}

	.ef-drb {
		background-image: url(/assets/content/social/drb.png);
	}

	.ef-pin {
		background-image: url(/assets/content/social/pin.png);
	}

	.ef-fl {
		background-image: url(/assets/content/social/fl.png);
	}

	.ef-in {
		background-image: url(/assets/content/social/in.png);
	}

	.social-icns li a:hover {
		background-position: left bottom;
	}

	/*--------------- 2-6 END TOPBAR ------------------------------------------------------------*/
	/*--------------- 2-7 START SLIDER  ---------------------------------------------------------*/
	/* other styles in js/supersized/theme/supersized.shutter.css */
	#ef-slider {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.ef-slider-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/assets/slider-overlay.png');
	}

	.ef-dark-theme .ef-slider-overlay {
		background-image: url('/assets/slider-overlay-dark.png');
	}

	#slidecaption {
		font-size: 3em;
	}

	a#play-button {
		width: 35px;
		height: 35px;
		border-width: 3px;
		border-style: solid;
	}

	#slide-list {
		display: block;
		float: left;
		margin-left: 0!important;
		position: static!important;
	}

	#slider-controls-wrapper {
		bottom: 34px;
		left: 0;
		width: 100%;
		position: fixed;
	}

	#controls a {
		position: relative;
		overflow: visible;
	}

	#controls-wrapper {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	#controls-wrapper, .dots-play {
		padding: 40px 0;
		margin-bottom: 3px;
	}

	#controls div, #controls a, #prevslide, #nextslide, a#tray-button {
		margin-right: 14px;
	}

	.dots-play {
		position: absolute;
		bottom: 0;
	}

	.ef-controls-inner {
		position: relative;
		height: 100%;
		margin-left: 2%;
	}

	.no-js .thumb-nav, .no-js #progress-bar, .no-js #tray-button, .no-js #controls-wrapper {
		display: none;
	}

	.thumb-nav {
		position: absolute;
		height: 64px;
		line-height: 64px;
		z-index: 9;
	}

	ul#slide-list li, #slidecounter {
		line-height: 39px;
		height: 39px;
	}

	#tray-button {
		position: fixed;
		z-index: 20000;
		top: 50px;
		right: 0;
		margin-right: 2%;
	}

	#tray-button div:hover  {
		background-position: right top;
		border-color: transparent;
	}

	#tray-button.ef-close-add div {
		background-position: left bottom;
		border-color: transparent;
	}

	#tray-button div {
		display: block;
		position: relative;
		width: 39px;
		height: 39px;
		background-image: url('/assets/fold-page.png');
		background-repeat: no-repeat;
		background-position: left top;
		cursor: pointer;
		border-width: 1px;
		border-style: solid;
	}

	/*--------------- 2-7 END SLIDER  -----------------------------------------------------------*/
	/*--------------- 2-8 START IMAGES AND THUMBNAILS  ------------------------------------------*/
	.proj-img {
		max-width: 100%;
		position: relative;
		text-align: center;
		font-size: 0;
		line-height: 0;
		letter-spacing: -1px;
	}

	.proj-img img {
		font-size: 1em;
		line-height: normal;
		letter-spacing: normal;
		display: inline-block;
		zoom: 1;
	}

	/*--------------- 2-8 END IMAGES AND THUMBNAILS  --------------------------------------------*/
	/*--------------- 2-9 START PORTFOLIO AND BLOG STYLES  --------------------------------------*/
	#ef-portfolio .shortcode-wrapper {
		margin-left: 0;
		padding-bottom: 2.4em;
	}

	#ef-blog .shortcode-wrapper {
		padding-left: 4px;
		margin-left: -4px;
		margin-top: -5px;
	}

 	#produzione .ef-col-inner {
 		padding: 0;
 	}

	#blog .ef-col-inner {
		padding: 6px;
	}

	#ef-portfolio .ef-item-p {
		margin-bottom: -1px;
	}

	.ef-item, .ef-item-p {
		float: left;
		width: 25%;
	}

	.ef-item-inner {
		padding: 10px 10px 0;
	}

	#ef-blog .ef-item {
		border-width: 1px;
		border-style: solid;
		margin: 6px 6px 0 0;
	}

	#ef-portfolio .ef-item-inner {
		padding: 0;
	}

	.ef-item h1, .ef-item h2, .ef-item h3, .ef-item h4, .ef-item h5, .ef-item h1 a, .ef-item h2 a, .ef-item h3 a, .ef-item h4 a, .ef-item h5 a {
		color: #303030;
		margin-bottom: 0;
	}

	.ef-item-description {
		padding: 1.5em 0.3em 0;
	}

	.ef-item-description p {
		padding-top: 1.5em;
		margin-top: 1.2em;
		margin-bottom: 2em;
		background: url("/assets/h-divider.png") no-repeat scroll left top transparent;
	}

	/* no transition on .isotope container */

	.isotope .isotope-item {
	  /* change duration value to whatever you like */
	  -webkit-transition-duration: 0.5s;
	     -moz-transition-duration: 0.5s;
	      -ms-transition-duration: 0.5s;
	       -o-transition-duration: 0.5s;
	          transition-duration: 0.5s;
	}

	.isotope .isotope-item {
	  -webkit-transition-property: top, left, opacity;
	     -moz-transition-property: top, left, opacity;
	      -ms-transition-property: top, left, opacity;
	       -o-transition-property: top, left, opacity;
	          transition-property: top, left, opacity;
	}

	.ef-overlay {
		position: absolute;
		background: url('/assets/px.png');
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		transition: opacity .5s ease-in-out;
		-webkit-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		-ms-transition: opacity 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		z-index: 1;
	}

	.ef-overlay.ef-hover {
		z-index: 2;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}

	.ef-ie8 .ef-overlay.ef-lightbox-read {
		display: none;
	}

	.ef-ie8 .proj-img:hover .ef-overlay.ef-lightbox-read, .ef-ie8 .ef-overlay {
		display: block;
	}

	#ef-portfolio .ef-overlay {
		border: 1px solid rgba(255, 255, 255, 0.1);
		-moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
		bottom: 1px;
	}

	.proj-img .ef-overlay a {
		position: absolute;
		display: block;
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#ui-lightbox-overlay {
		cursor: url('/assets/cursor-close.cur'),url('/assets/cursor-close.cur'),default;
	}

	#ui-lightbox-button-close {
		display: none;
	}

	.ef-opera #ui-lightbox-button-close, .ef-ie #ui-lightbox-button-close {
		display: block;
	}

	.proj-img .ef-overlay.ef-lightbox-read a {
		width: 57px;
		height: 34px;
		left: 50%;
		top: auto;
		bottom: -17px;
		margin-top: -17px;
		margin-left: -28px;
		background-repeat: no-repeat;
		background-position: left top;
		background-image: url('/assets/lightbox-more.png');
	}

	.proj-img .ef-overlay.ef-lightbox-read a.lb {
		margin-left: -57px;
	}

	.proj-img .ef-overlay.ef-lightbox-read a.ef-read-more {
		margin-left: 0;
	}

	.proj-img .ef-overlay a.lb:hover {
		background-position: left bottom;
	}

	.proj-img .ef-overlay a.ef-read-more {
		background-position: right top;
	}

	.proj-img .ef-overlay a.ef-read-more:hover {
		background-position: right bottom;
	}

	.slides .proj-img .ef-overlay.ef-lightbox-read a {
		top: 50%;
		bottom: auto;
	}

	.ef-video {
		height: 0;
		position: relative;
	    overflow: hidden;
	    padding-bottom: 56.25%;
	}

	.ef-video iframe, .ef-video object, .ef-video embed {
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: auto;
	}

	#ef-filter {
		margin-top: 5px;
		list-style: none;
		font-size: 0.8em;
	}

	#ef-filter li {
		margin-left: 0;
	}

	#ef-filter li a {
		display: block;
		padding: 3px 10px;
		text-align: left;
	}

	#ef-filter li.p-current a {
		font-weight: 600;
	}

	#ef-filter li a span {
		float: right;
		padding: 0 0.4em;
		margin-right: -7px;
		margin-left: 10px;
		font-size: 0.8em;
		position: relative;
	}

	#ef-filter li a span:after {
		content: '';
		position: absolute;
		top: 50%;
		left: -3px;
		margin-top: -3px;
		width: 3px;
		height: 5px;
		background: url('/assets/corn.gif') no-repeat left top;
	}

	.ef-post-details {
		padding: 8px 0;
		font-size: 0.7em;
		border-top-width: 1px;
		border-style: solid;
	}

	.ef-post-details a.ef-button {
		font-size: 1em;
		margin: 0;
	}

	.ef-post-details div:first-child {
		padding-left: 0;
		border: 0;
	}

	.ef-post-details div, .ef-post-details div a {
		display: inline-block;
		line-height: 15px;
	}

	.ef-post-details div a {
		font-weight: normal;
	}

	.ef-post-details div {
		border-left-width: 1px;
		border-style: solid;
		float: left;
		padding-left: 10px;
		margin-right: 10px;
	}

	.ef-button {
		font-size: 0.7em;
		padding-right: 14px;
		background-image: url('/assets/read.gif');
		background-position: right center;
		background-repeat: no-repeat;
		margin: 0.5em 1.5em 1.5em 0;
		display: inline-block;
	}

	.ef-post-details span {
		padding: 0 5px;
		display: inline-block;

	}

	.ef-post-details span.ef-comments {
		position: relative;
		background: #c2c2c2;
		padding: 0 4px;
	}

	.ef-post-details span.ef-comments:after {
		position: absolute;
		content: '';
		bottom: -4px;
		left: 50%;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-top: 7px solid #c2c2c2;
	}

	.ef-big-btn.ef-big-btn.ef-prev {
		padding: 10px 13px 10px 48px;
		background-image: url('/assets/ef-button2.png');
		background-position: left center;
	}

		/*--------------- 2-9a - START REPLAY & FEEDBACK FORM ------------------------------------*/
		.ef-form {
			margin-bottom: 1.5em;
		}

		.ef-form div div {
			overflow: hidden;
			margin-bottom: 0.8em;
			transition: border 0.3s ease-out 0s;
			-webkit-transition: border 0.3s ease-out 0s;
			-moz-transition: border 0.3s ease-out 0s;
			-ms-transition: border 0.3s ease-out 0s;
			-o-transition: border 0.3s ease-out 0s;
		}

		.ef-form div div {
			padding: 0 3%;
			border-width: 1px;
			border-style: solid;
		}

		.ef-form div div, .ef-form div div input, .ef-form div.ef-textarea textarea {
			-webkit-appearance: none;
			font-size: 0.9em;
		}

		.ef-form div div input {
			border: 0;
			width: 100%;
			max-width: 100%;
			height: 25px;
			line-height: 25px;
		}

		.ef-form div label {
			font-size: 0.8em;
			font-weight: 700;
			display: block;
			margin-bottom: 0.3em;
		}

		.ef-form div label span, .ef-form div.send-wrap span span {
			font-weight: 300;
			font-size: 1.6em;
			vertical-align: -0.2em;
		}

		.ef-form div.ef-textarea, .ef-form div.ef-textarea textarea {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			background: transparent;
		}

		.ef-form div.ef-textarea div {
			padding: 15px 3% 0;
		}

		.ef-form div.ef-textarea {
			margin-bottom: 1.2em;
		}

		.ef-form div.ef-textarea textarea {
			border: 0;
			line-height: 1.4em;
			height: 150px;
			min-height: 150px;
		}

		.ef-form div.send-wrap {
			background: transparent;
		}

		.ef-form div.send-wrap div {
			border: 0;
			background: transparent;
			width: auto;
		}

		.ef-form div.send-wrap div, .ef-form div.send-wrap div input {
			padding: 0;
		}

		.ef-form div.send-wrap div input {
			width: auto;
			font-weight: 700;
			padding: 0 1.5em;
			height: 30px;
			line-height: 27px;
			cursor: pointer;
			border-width: 1px;
			border-style: solid;
		}

		.ef-form div.send-wrap span {
			font-size: 0.8em;
		}

		.ef-form .not-valid, .ef-form .not-valid input, .ef-form .ef-textarea .not-valid textarea {
			background-color: #ffb5b5;
		}

		.ef-form .not-valid {
			border-color: #ffb5b5;
		}

		/*--------------- 2-9a END REPLAY & FEEDBACK FORM ----------------------------------------*/
		/*--------------- 2-9b START BLOGPOST COMMENTS  ------------------------------------------*/
		ul.comments-list {
			margin-bottom: 3em;
		}

		.comments-list .post-comm div.auth {
		    margin-bottom: 1em;
		    font-weight: normal;
		}

		.comments-list .post-comm div.auth span {
		    margin-top: 5px;
		    display: block;
		    font-size: 0.815em;
		}

		.comments-list .post-comm {
		    padding: 2.4%;
		    margin-left: 80px;
		    position: relative;
		    border-width: 1px;
		    border-style: solid;
		}

		.comments-list .post-comm:before {
			position: absolute;
			content: '';
			width: 8px;
			height: 16px;
			left: -7px;
			top: 20px;
			background: url('/assets/comments-corner.png') no-repeat left top;
		}

		.comments-list li {
		    list-style: none;
		    margin-bottom: 0;
		    margin-left: 0;
		}

		.comments-list ul, .comments-list p {
			font-size: 1em;
		}

		ul.comments-list li {
		    display: block;
		    margin-top: 3em;
		}

		ul.comments-list li a.ef-avatar {
			overflow: hidden;
		}

		ul.comments-list li a.ef-avatar img {
		    width: 60px;
		    height: 60px;
		    display: block;
		}


		ul.comments-list ul.children-comm {
		    background: url('/assets/children.gif') no-repeat left top;
		    padding-left: 2.4%;
		}


		/*--------------- 2-9b END BLOGPOST COMMENTS  --------------------------------------------*/
	/*--------------- 2-9 END PORTFOLIO AND BLOG STYLES  -----------------------------------------*/
	/*--------------- 2-10 START CONTACT PAGE STYLES ---------------------------------------------*/

	#contact .ef-column {
		background: none;
		z-index: 6;
	}

	.ef-sidebar-wrapper {
		float: right;
		width: 25%;
		position: relative;
		border-width: 1px;
		border-style: solid;
	}

	.ef-sidebar {
		padding: 10%;
	}

	.ef-sidebar .one_half {
		float: none;
		width: auto;
		margin-left: 0;
	}

	.ef-post-wrapper {
		width: 72.6%;
		float: left;
	}

	.ef-ie8 .ef-sidebar-wrapper {
		border: 0;
	}

	.ef-map {
		position: absolute;
		z-index: 4;
	    max-width: auto;
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}

	.ef-map img {
		max-width: none!important;
	}

	#ef-office-1, #ef-office-2 {
		font-size: 0.816em;
		line-height: 1em;
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 1.5em;
		padding: 0.2em 0 0.2em 20px;
		background: url('/assets/home-small.png') no-repeat left -35px;
		cursor: pointer;
	}

	span#ef-office-1.ef-cur-office, span#ef-office-2.ef-cur-office {
		background-position: left 2px;
	}

	/*--------------- 2-10 END CONTACT PAGE STYLES -----------------------------------------------*/
	/*--------------- 2-11 START POST SLIDER  ----------------------------------------------------*/
	#ef-portfolio .ef-post-slider, #ef-blog .ef-post-slider {
		margin-bottom: 0;
	}

	.ef-post-slider, .carousel-thumbs {
		margin-bottom: 3em;
	}

	.flex-control-nav, .flex-direction-nav {
		line-height: 0;
		position: absolute;
		z-index: 2;
	}

	.flex-direction-nav {
		left: 0;
		top: 50%;
		width: 100%;
		margin-top: -17px;
	}

	.flex-direction-nav li {
		margin: 0;
		padding: 0;
	}

	.flex-direction-nav a {
		height: 35px;
		width: 35px;
		overflow: hidden;
		text-indent: -1700px;
		background-image: url('/assets/slider-arrows.png');
		background-repeat: no-repeat;
		background-position: right bottom;
		display: block;
		float: left;
	}

	.flex-direction-nav a.flex-prev {
		margin-left: -35px;
	}

	.flex-direction-nav a.flex-next {
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		background-position: left bottom;
	}

	.flex-direction-nav a:first-child {
		margin-bottom: 2px;
	}

	.ef-post-slider .flex-control-nav li {
		margin: 0 5px;
		display: inline-block;
		line-height: 0;
	}

	.ef-post-slider .flex-control-nav li a {
		overflow: hidden;
		background: url('/assets/slider-dot.png') no-repeat left top;
		display: block;
		text-indent: -2000px;
		line-height: 0;
		width: 10px;
		height: 10px;
		cursor: pointer;
	}

	.ef-post-slider .flex-control-nav li a.flex-active {
		background-position: left bottom;
	}

	.ef-post-slider .flex-control-nav {
		display: block;
		width: 100%;
		bottom: 15px;
		padding: 2px 1px 0 0;
		text-align: center;
	}

	.no-js .carousel-thumbs, .carousel-thumbs > li {
		display: none;
	}

	.ef-post-slider-thumbs .ef-overlay a, .ef-post-slider .ef-overlay a {
		top: 50%;
	}

	.ef-post-slider, .ef-post-slider-thumbs, .carousel-thumbs {
		position: relative;
		overflow: hidden;
	}

	.carousel-thumbs .flex-direction-nav li a {
		margin: 0;
	}

	.carousel-thumbs .flex-direction-nav {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.carousel-thumbs .flex-direction-nav li {
		width: auto;
	}

	.carousel-thumbs .flex-direction-nav .flex-disabled, .ef-post-slider-thumbs .flex-direction-nav .flex-disabled, .ef-post-slider .flex-direction-nav .flex-disabled, .carousel-thumbs li img {
		-webkit-opacity: 0.5;
		-moz-opacity: 0.5;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	.carousel-thumbs li.flex-active-slide img {
		-webkit-filter: none;
		filter: none;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.carousel-thumbs li {
		display: inline-block;
		margin: 0;
		float: none;
		cursor: pointer;
		width: 150px;
	}

	.carousel-thumbs li img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		filter:	url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		display: block;
	}

	/*--------------- 2-11 END POST SLIDER  -----------------------------------------------------*/
/*--------------- 2 END PAGE STYLES -------------------------------------------------------------*/




/*--------------- 3 START WIDGETS  ------------------------------------------------------*/

.widget_twitter ul, .widget_portfolio_categories ul, .widget_categories ul, .widget_twitter ul li, .widget_portfolio_categories ul li, .widget_categories ul li, ul.comments-list, ul.comments-list li, .widget_recent_entries ul, .widget_recent_entries ul li, .widget_recent_comments ul, .widget_recent_comments ul li {
	list-style: none;
}

.widget_portfolio_categories ul li, .comments-list li .ef-button, .widget_recent_entries ul li, .widget_recent_comments ul li {
	margin-left: 0;
}

#ef-topbar .social-icns li a, #ef-topbar .jflickr li a {
	padding: 0;
}

#ef-topbar .widget_recent_entries ul li, #ef-topbar .widget_recent_comments ul li, .widget_recent_comments ul li {
	padding-left: 25px;
}

.widget_recent_comments ul li {
	background: url('/assets/latest-posts1.png') no-repeat left 5px;
}

#ef-topbar .widget_recent_comments ul li {
	background: url('/assets/latest-posts.png') no-repeat left 5px;
}

#ef-topbar .widget_recent_entries ul li {
	background: url('/assets/entries.png') no-repeat left 3px;
}

.widget_portfolio_categories ul li, .comments-list li .ef-button {
	margin-bottom: 0;
}

.widget_portfolio_categories ul li a, #ef-topbar .widget_portfolio_categories ul li a {
	display: block;
    padding: 3px 10px 3px 5px;
    text-align: left;
}

.widget_portfolio_categories ul li a span:after {
    background: url("/assets/corn.gif") no-repeat scroll left top transparent;
    content: "";
    height: 5px;
    left: -3px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 3px;
}

#ef-topbar .widget_portfolio_categories ul li a span:after {
	background: url("/assets/corn1.gif") no-repeat scroll left top transparent;
}

.widget_portfolio_categories ul li a:hover, .widget_portfolio_categories ul li.p-current a {
	font-weight: 600;
}

.widget_portfolio_categories ul li a span {
    float: right;
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: -7px;
    padding: 0 0.4em;
    position: relative;
}

.widget_categories ul li {
	margin-left: 0;
}

.widget_twitter ul li {
	margin-left: 0;
	margin-bottom: 1em;
	padding-left: 25px;
	background: url('/assets/twt.png') no-repeat 0 3px;
}

#ef-topbar .widget_twitter ul li {
	background: url('/assets/twt1.png') no-repeat 0 3px;
}

.widget_twitter ul li .tweet_text {
    display: block;
}

.widget_twitter .tweet_time {
	font-size: 0.8em;
}

.jflickr {
    margin: 0;
    padding:0;
    list-style: none;
    overflow: hidden;
}

.jflickr li {
    width: 22%;
    float: left;
    margin: 0 2.5% 2.5% 0;
}

.jflickr li a,.jflickr img {
    cursor: pointer;
    display: block;
    width: 100%;
}

.jflickr li a {
    position: relative;
}

.jflickr li a span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: url('/assets/flickr.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.jflickr li a:hover span {
	padding-right: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}

.widget_p-post-nav {
	text-align: center;
}

.widget_p-post-nav .one_half {
	float: left;
	margin-left: 2.4%;
	width: 47.6%;
}

.widget_p-post-nav a {
	margin-bottom: 1em;
}

.widget_p-post-nav a, .widget_p-post-nav a img {
	display: block;
	margin-right: 0;
}

/*--------------- 3 END WIDGETS  --------------------------------------------------------*/






/*--------------- 4 START OTHER STYLES  -------------------------------------------------*/
.ef-tooltip {
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	font-size: 0.8em;
	line-height: 1.3em;
	left: 50%;
	margin-left: -60px;
	text-align: center;
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	bottom: 80px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ef-tooltip:before,
.ef-tooltip:after {
	content: '';
	position: absolute;
	bottom: -5px;
	top: auto;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top-width: 7px;
	border-top-style: solid;
}

#ef-topbar-button .ef-tooltip, #tray-button div .ef-tooltip,
.ef-next-page .ef-tooltip, .ef-back-arrow .ef-tooltip {
	bottom: auto;
	top: 80px;
}

#ef-topbar-button .ef-tooltip:before, #ef-topbar-button .ef-tooltip:after,
 #tray-button div .ef-tooltip:before, #tray-button div .ef-tooltip:after,
 .ef-next-page .ef-tooltip:before, .ef-next-page .ef-tooltip:after,
 .ef-back-arrow .ef-tooltip:before, .ef-back-arrow .ef-tooltip:after
 {
	bottom: auto;
	top: -5px;
	border-top-width: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom-width: 7px;
	border-bottom-style: solid;
}

#controls a:hover .ef-tooltip, .ef-prev-page:hover .ef-tooltip {
	bottom: 55px;
	opacity: 0.9;
}

#ef-topbar-button:hover .ef-tooltip, #tray-button div:hover .ef-tooltip, .ef-next-page:hover .ef-tooltip, .ef-back-arrow:hover .ef-tooltip {
 	top: 55px;
 	opacity: 0.9;
 }

#ef-loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f5f5f5 url('/assets/loader.gif') no-repeat center center;
	z-index: 99999;
}

.no-js #ef-loader-overlay {
	display: none!important;
}

/*ie7 warning*/
.ie7overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 999999;
}

.ie7message {
	text-align: center;
	margin-top: 5em;
}

/*--------------- 4 END OTHER STYLES  ---------------------------------------------------*/





/*--------------- CUSTOM STYLE  ---------------------------------------------------*/
#languages-button {
	position: fixed;
	z-index: 20000;
	top: 0px;
	right: 0;
	margin-right: 2%;
}

	#languages-button div {
	display: block;
	position: relative;
}


.active-list {
	background-color:#999;
}
