<div class="row-fluid">
	<div class="span9">
		
		<div class="control-group">
			<%= f.label "Etichetta" %>
			<div class="controls">
				<%= f.text_field :etc, :class => "input-medium" %>
			</div>
		</div>

		<ul id="tabs" class="nav nav-tabs">
			<% @lingue.each do |lingua| %>
				<li class="<%= "active" if lingua.cod.eql?('it') %>"><a href="#<%= lingua.cod %>"><%= lingua.lingua %></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<% @lingue.each do |lingua| %>

				<% ele = @sml[lingua.cod] %>

				<div id="<%= lingua.cod %>" class="tab-pane <%= "active" if lingua.cod.eql?('it') %>">

					<div class="control-group">
						<label for="<%= lingua.cod %>_testo" class="control-label">Testo (<%= lingua.cod %>)</label>
						<div class="controls">
							<textarea name="<%= lingua.cod %>[testo]" id="<%= lingua.cod %>_testo" class="input-xlarge editor"><%= ele.testo unless ele.nil? %></textarea>
						</div>
					</div>

				</div>
			<% end %>
		</div>
	</div>

</div>
<script type="text/javascript">

$(window).ready(function() {
	$(".editor").kendoEditor({
		encoded:false
	});

	$('#tabs a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');	
	});

});
</script>
	