<ul class="breadcrumb">
  <li>
    <%= link_to "Traduzioni", admin_translations_path %><span class="divider"></span>
  </li>
</ul>

<%#= breadcrumb(@servizio.id, @id_parent) %>
<%= link_to raw("Aggiungi <i class='icon-plus-sign icon-white'></i>"), new_admin_translation_path, class: "btn btn-small btn-primary new-button" %>

<br/>
<br/>
<table class="table table-striped table-bordered table-condensed admin-table">
  <thead>
    <th width="30%">Etichetta</th>
    <th width="60%">Valore</th>
    <th width="10%">Operazioni</th>
  </thead>
  <tbody>
    <% @translations.each do |pagina| %>
    <tr id="<%= pagina.id %>">
      <td><%= pagina.etc %></td>
      <td><%= pagina.sml.where('fklang=?', 'it').first.testo %></td>
      <td style="text-align:center">
        <%= link_to raw("<i class='icon-list-alt'></i>"), edit_admin_translation_path(pagina), :rel => "operazioni_#{pagina.id}", :title => "Modifica #{pagina.etc}" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $("a[rel^='operazioni']").tooltip({'placement':'left'});
  });
</script>
