<script type="text/javascript">
	$(document).ready(function() {
		//$("#tabs").tab('show');
	});
</script>
<ul class="breadcrumb">
  <li>
    <%= link_to "Traduzioni", admin_translations_path %>
    <span class="divider"></span>
    Inserimento / Modifica
  </li>
</ul>

<div class="row-fluid">
	<div class="span12">
		
		<%= form_for [:admin, @translation], :html => {:id => "form", :class => "form-horizontal", :multipart => true} do |f| %>

			<%= render :partial => 'admin/translations/form', :locals => { :f => f } %>

			<div class="span12">
				<div class="form-actions">
					<%= f.submit "save", :class => "btn btn-primary" %>
					<%= f.submit "cancel", :class => "btn" %>
				</div>	
			</div>

		<% end %>
		
	</div>
</div>