<!DOCTYPE html>

<html lang="en" class="no-js">
<head>

  <%= render('partials/header') %>
  <meta name="google-translate-customization" content="2b3f822e04bd7858-482f5c8d663f9804-gca9cd7e2d114f897-11"></meta>
</head>
<body>

  <%#= render('pages/more_info') %>
  <%= render('partials/fullscreen') %>

  <!-- Navigation -->
  <%= render('partials/navigation') %>

  <!-- Home page -->
  <%= render('pages/home_page') %>

<!--  <div id="ef-loader-overlay"></div>-->

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= render ('partials/javascript') %>

  <script type="text/javascript" src="/javascripts/goMap-1.3.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/custom.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    /* hack for keep the menu always visible */
    $('.ef-menu-wrapper').toggleClass('ef-toggle-menu')

    /*Slider init*/
    /*Slider options for various window sizes*/
    if ($(window).outerWidth() <= 1024) {
      var sliderPlay = 0;
      var smallImage = '-small'; /*Postfix for small images to use on tablet PC's and phones */
      var slideTransition = 7
    } else {
      var sliderPlay = 1;
      var smallImage = '';
      var slideTransition = 1
    }

    // Supersized performance value
    // 0 - No adjustments,
    // 1 - Hybrid, lowers image quality during transitions and restores after completed. (Default),
    // 2 - Higher image quality,
    // 3 - Faster transition speed, lower image quality
    $.supersized({
      // Functionality
      autoplay          : sliderPlay,
      slide_interval    : 3000,   // Length between transitions
      transition        : slideTransition,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
      transition_speed  : 700,    // Speed of transition
      performance       : 1,
      // Components
      slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
      slides            :
        [ // Slideshow Images
          <% @banner.each do |banner| %>
                    { image : '<%= banner['gen'].media.first.upload.filename.url %>',
                      title : '<%= banner['sml']['it'].title %>',
                      thumb : '<%= banner['gen'].media.first.upload.filename.thumb.url %>'
                    },
          <% end %>
        ]
    });

    /*Swipe direction nav for Supersized*/
    $(".ef-slider-overlay").swipe({
      swipeLeft: function() {
        try {
        document.createEvent("TouchEvent");
        api.prevSlide();
        } catch (e) {}
      },

      swipeRight: function() {
        try {
        document.createEvent("TouchEvent");
        api.nextSlide();
        } catch (e) {}
      }
    });

    /*Direction nav when screen size <= 1024*/
    if (Modernizr.mq('only screen and (max-width: 1024px)')) {
      $('#nextslide, #prevslide').css({top: $(window).height()/2, zIndex: '20'});
    } else {
      $('#nextslide, #prevslide').css({top: 'auto'});
    }

    /*Post slider with dots nav*/
    $('.ef-post-slider').flexslider({
        slideshow: false, /* set 'true' if you want auto scrolling */
        animation: "fade", /* 'slide' or 'fade' transitions */
        controlNav: true, /* set 'false' to hide slider pagination */
        directionNav: true, /*Set 'false' to disable direction navigation*/
        smoothHeight: false
    });

    /*Post slider nav animations*/
    $('.ef-post-slider, .ef-post-slider-thumbs').hover(function() {
        $(this).find('.flex-direction-nav a').stop().animate({
          marginLeft: '0'
        }, 200);
    }, function() {
        $(this).find('.flex-direction-nav a.flex-prev').stop().animate({
          marginLeft: -$('.flex-direction-nav a').width()
        }, 200);
    });

    $('.carousel-thumbs').hover(function() {
      $(this).find('.flex-direction-nav').stop().animate({opacity: '1'})
      }, function() {
      $(this).find('.flex-direction-nav').stop().animate({opacity: '0'})
    });

  })
</script>

</body>
</html>
