<!DOCTYPE html>

<html lang="en" class="no-js">
<head>

  <%= render('partials/header') %>
  <meta name="google-translate-customization" content="2b3f822e04bd7858-482f5c8d663f9804-gca9cd7e2d114f897-11"></meta>
</head>
<body>

  <%#= render('pages/more_info') %>
  <%= render('partials/fullscreen') %>

  <!-- Navigation -->
  <%= render('partials/navigation') %>

  <%= yield %>

<!--  <div id="ef-loader-overlay"></div>-->

  <%= render ('partials/javascript') %>

  <script type="text/javascript">
  function hideOrShowProduzioneSidebar() {
    if ( $("#produzione-sidebar") && $(window).width() <= 1024 ) {
      $("#produzione-sidebar").hide();
      $("#page-title").hide();
      //$(".sett-app-nome").hide();
    }

    if ( $("#produzione-sidebar") && $(window).width() > 1024 ) {
      $("#produzione-sidebar").show();
      $("#page-title").show();
      //$(".sett-app-nome").show();
    }
  }
  $(document).ready(function() {
    hideOrShowProduzioneSidebar();

    /*Detect touch device*/
      var tryTouch;
      try {
      document.createEvent("TouchEvent");
      tryTouch = 1;
      } catch (e) {
        tryTouch = 0;
      }

    /*Browser detection*/
      var deviceAgent = navigator.userAgent.toLowerCase();
      var agentID = deviceAgent.match(/(iphone|ipod|ipad)/);
      if (agentID) {
          $('body').addClass('ef-ios');
      }

      if ($.browser.msie) {
        $('body').addClass('ef-ie');
          if ($.browser.version == 8) $('body').addClass('ef-ie8');
          if ($.browser.version == 7) $('body').addClass('ef-ie7');
      };

      if( $.browser.opera ){
        $('body').addClass('ef-opera');
      }

      if ($('body').hasClass('ef-ie7')) {
        $('body').css({position: 'relative'}).append('<span class="ie7overlay"></span>').html('<div class="ie7message">Hello! My website requires MS Internet Explorer 9 or higher version. Please update your browser.</div>')
      }

    /*Setting up variables*/
      var homePage = '#home';
      var sidebarWdt = 15; /*Width of the Sidebar in percents*/

    /*Replace page scroll on desktops */
      if (!$('body').hasClass('ef-opera') || tryTouch == 0) {

        $(".ef-fold").niceScroll({
          cursoropacitymax:0.7,
          cursorcolor: '#000000',
          cursorborder:"0px solid rgba(255, 255, 255, 0.5)",
          touchbehavior:false, /*enable cursor-drag scrolling like touch devices in desktop computer, default is false*/
          grabcursorenabled:false,
          cursorwidth: 3,
          railoffset:{left:-3},
          autohidemode: true
        });
      }


    /*Disable arrow navigation*/
      var disableArrowKeys = function(e) {
          if ($.inArray(e.keyCode, ar)>=0) {
              e.preventDefault();
          }
      }

      var ar=new Array(1,45,33,34,35,36,38,40);
      var ininput = false;

      $("input, textarea").focus(function(){ininput = true;});
      $("input, textarea").blur(function(){ininput = false;});

      $(document).keydown(function(e) {
           var key = e.which;
            if(($.inArray(key,ar) > -1) || (!ininput && key == 32)) {
                e.preventDefault();
                return false;
            }
            return true;
      });


    /*Navigation menu, smooth scrolling and current section detection*/

        /* hack for keep the menu always visible */
        $('.ef-menu-wrapper').toggleClass('ef-toggle-menu')

        /*Lavalamp*/
        $('.ef-navmenu').lavaLamp({
            fx: 'easeOutBack',
            speed: 800,
            returnDelay: 500,
            returnHome: true,
            autoReturn: false,
            setOnClick: false,
            homeLeft:-1000
        });

        /*Main menu, smooth scrolling to anchors and urls*/
        $('body').delegate('.ef-content', 'waypoint.reached', function(event, direction) {
          var $active = $(this);
          if (direction === "up") {
            $active = $active.prev();
          }
          if (!$active.length) $active = $active.end();

          $('.current-section').removeClass('current-section');
          $active.addClass('current-section');

          $('.ef-menu-cur').removeClass('ef-menu-cur');
          $('.ef-navmenu a[rel=external]').click(function() {
            document.location = $(this).attr("href");
          });
          $('.ef-navmenu a[href=#'+$active.attr('id')+']').parent().addClass('ef-menu-cur');

        });
        $('.ef-content').waypoint({ offset: '50%' });

          $('.ef-column a[href*=#]:not([href$=#]), #ef-topbar a[href*=#]:not([href$=#]), .ef-navmenu a, .ef-logo, .ef-next-page, .ef-prev-page').click(function (event) {
            if ($('body').hasClass('ef-ie8') || $('body').hasClass('ef-opera') || $('body').hasClass('ef-ios') || $(this).hasClass('ef-external-link')){} else {
              event.preventDefault();
              var linkOffset = $($(this).attr('href')).offset().top;
              $.scrollTo(linkOffset, 400, {axis:'y', onAfter: function () {
                if ($(window).width()>1024) {
                  setTimeout(function() {
                    window.location.hash = '#'+$('.current-section').attr('id')
                  }, 500);
                }
              },  easing:'easeInOutQuart'})
            }
          });

          $('a[href$=#]').click(function(event){return false;});

        /*Mobile menu*/
        $('.ef-navmenu').mobileMenu({
          defaultText: '',
          className: 'ef-select-menu',
          subMenuClass: 'sub-menu',
          subMenuDash: '&ndash;',
          appendMenu: '#ef-mobile-menu-wrapper'
        });

    /*Fittext for page title*/
      $('.ef-page-details h1').fitText(0.8);

      /*Image overlay*/
      if (tryTouch == 1) {
        $('a.lb').remove()
      }

      $('.ef-overlay').each(function () {
        if ($(this).find('a.lb').lenght == 0 && $(this).find('.ef-read-more').length == 0) {
          $(this).remove();
        } else if ($(this).find('a.lb').length > 0 && $(this).find('.ef-read-more').length == 0) {
          $(this).addClass('ef-lightbox')
        } else if ($(this).find('a.lb').length == 0 && $(this).find('.ef-read-more').length > 0) {
          $(this).addClass('ef-read')
        } else {
          $(this).addClass('ef-lightbox-read')
        }
      });

      $('.ef-overlay').hover(function () {
        $(this).addClass('ef-hover')
      }, function () {
        $(this).removeClass('ef-hover')
      });

      /*Topbar*/
      $('#ef-topbar-button').click(function() {
        $('#ef-topbar').toggleClass('ef-top-o');
        $(this).toggleClass('ef-close');

        if ($(this).hasClass('ef-close')) {
          $('#ef-topbar').animate({top: '0%'},500, 'easeInOutQuart');
        } else {
          $('#ef-topbar').animate({top: '-100%'},500, 'easeInOutQuart');
        }
      });

      /*Fullscreen mode*/
      $('#tray-button').click(function() {

        var foldIcon = $(this),
          foldIconWdt = foldIcon.outerWidth()*3,
          currentSec = $('.current-section')

        foldIcon.toggleClass('ef-close');

        if($(this).hasClass('ef-close')){

          $('#ef-topbar-button').fadeOut();

          if ($('#ef-topbar-button').hasClass('ef-close')) {
            $('#ef-topbar-button').click()
          }
          $('.gradi').css({display: 'none'});
          $('.ef-slider-overlay').fadeOut();
          $('.dots-play').css({zIndex: '-1'});
          $('.dots-play, .ef-nav-wrapper').animate({left: '0%'},500, 'easeInOutQuart');
          $('.ef-toggled').animate({left: -sidebarWdt+'%'},500, 'easeInOutQuart');
          currentSec.find('.ef-fold').stop().animate({
            left: '100%'
          },500, 'easeInOutQuart', function(){
            $('.ef-nav-wrapper').fadeOut();
            $('#slidecaption').fadeIn();
            foldIcon.stop().animate({
              right: -foldIconWdt
            }, function(){
              $('.dots-play').css({display: 'none'});
              foldIcon.stop().animate({right: '0%'}).addClass('ef-close-add');
              $('#slider-controls-wrapper').css({zIndex: '3'})
            });
          });
        } else {
          $('#slidecaption').fadeOut();
          $('.ef-nav-wrapper').fadeIn();
          foldIcon.stop().animate({
            right: -foldIconWdt
          }, function(){
            $('.ef-slider-overlay').fadeIn();
            $('.dots-play').css({zIndex: 'auto', display: 'block'});
            $('.dots-play, .ef-nav-wrapper').animate({left: sidebarWdt+'%'}, 500, 'easeInOutQuart');
            $('.ef-toggled').animate({left: '0%'}, 500, 'easeInOutQuart');

            currentSec.find('.ef-fold').stop().animate({
              left: sidebarWdt+'%'
            }, 500, 'easeInOutQuart', function(){
              foldIcon.stop().animate({right: '0%'}).removeClass('ef-close-add');
              $('#ef-topbar-button').fadeIn();
              $('.gradi').css({display: 'block'});
              $('#slider-controls-wrapper').css({zIndex: 'auto'})
            });
          });
        }
      });

    /*Portfolio & Blog*/
      var $containerP = $('#ef-portfolio .shortcode-wrapper'),
        $wrapperP = $('#ef-portfolio'),
        $efItemP = $('.ef-item-p'),
        $container = $('#ef-blog .shortcode-wrapper'),
        $wrapper = $('#ef-blog'),
        $efItem = $('.ef-item'),
        iOptions = {
          resizable: false,
          transformsEnabled: false,
          animationEngine: 'css'
        }

    /*Window resize or browser zooming layout enhancements*/

      $(window).resize(function(){
        if ("#"+$('.current-section').attr('id') != homePage && tryTouch == 0) {
          $.scrollTo($('.current-section'),0);
        }

        if ($(window).width() <= 1024 && $('#tray-button').hasClass('ef-close')) {
          $('#tray-button').click()
        }

        if ($(window).width() <= 1024 && $('#ef-topbar-button').hasClass('ef-close')) {
          $('#ef-topbar-button').click()
        }

        if (Modernizr.mq('only screen and (max-width: 1024px)')) {
          $('#nextslide, #prevslide').css({top: $(window).height()/2, zIndex: '20'});
        } else {
          $('#nextslide, #prevslide').css({top: 'auto'});
        }

        /*Center images in the slider if image width < slider width*/
        $('ul.slides img').each(function () {
          if ($(this).width() < $('ul.slides').width()) {
            $(this).css({display: 'inline-block'})
          } else {
            $(this).css({display: 'block'})
          }
        })

        hideOrShowProduzioneSidebar();

      });

    /*Toggle boxes*/
        $('.ef-toggle-box').addClass('toggle-icn');
        $('.ef-toggle-box .toggle-content').css("display", "none");
        $('.ef-toggle-box li:first-child').addClass('open').find('.toggle-content').css("display", "block");
        $('.ef-toggle-box .toggle-head, .ef-toggle-box .toggle-head a').click(function() {
            $(this).next('.toggle-content').toggle('blind', 200);
            $(this).parent().toggleClass('open');
            return false
        });

    /*Isotope relayout in iOS*/
        window.onorientationchange = detectIPadOrientation;
      function detectIPadOrientation () {
        $(window).smartresize(function(){}).smartresize();
      }

    })

    $(window).load(function() {

      /* hide or show the sidebar on load */
      hideOrShowProduzioneSidebar();

      /*Remove website loader*/
      $('#ef-loader-overlay').fadeOut(800);
    });
</script>

</body>
</html>
