<!DOCTYPE html>

<html lang="en" class="no-js">
<head>

  <%= render('partials/header') %>
  <meta name="google-translate-customization" content="2b3f822e04bd7858-482f5c8d663f9804-gca9cd7e2d114f897-11"></meta>
</head>
<body>

  <%#= render('pages/more_info') %>
  <%= render('partials/fullscreen') %>

  <!-- Navigation -->
  <%= render('partials/navigation') %>

  <%= yield %>

  <!-- <div id="ef-loader-overlay"></div> -->

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= render ('partials/javascript') %>

  <script type="text/javascript" src="/javascripts/custom.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    /* hack for keep the menu always visible */
    $('.ef-menu-wrapper').toggleClass('ef-toggle-menu')
  })
  </script>

</body>
</html>